<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O // <%= trans.HOME %></title>
    
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#ff594f">

    <link rel="alternate" href="/" hreflang="x-default" />
    <link rel="alternate" href="/?lang=en" hreflang="en" />
    <link rel="alternate" href="/?lang=ie" hreflang="ie" />
    <link rel="alternate" href="/?lang=ie" hreflang="ie" />
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <style>
        .navbar:not(.top-nav-collapse) {
            background: transparent !important;
        }

        @media (max-width: 768px) {
            .navbar:not(.top-nav-collapse) {
                background: #ff594f !important;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: rgba(255, 89, 79, 1) !important;
            }
        }
    </style>

</head>

<body class="">

    <!-- Main navigation -->
    <header>
        <%- include partials/navbar.ejs %>

            <!-- Full Page Intro -->
            <div class="view" style="background-image: url('/img/awesomo-bg.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
                <!-- Mask & flexbox options-->
                <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
                    <!-- Content -->
                    <div class="container">
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-7 white-text text-center text-md-center mt-lg-5 mb-5 wow fadeInLeft pt-4" data-wow-delay="0.3s">
                                <img class="img-fluid mt-lg-5 pt-5" src="/img/headerlogo.png">
                                <br>
                                <a class="btn btn-outline-white btn-rounded">
                                    <%= trans.LEARN_MORE %>
                                </a>
                                <a class="btn btn-white btn-rounded">
                                    <%= trans.LOGIN %>
                                </a>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-5 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                                <img src="/img/headerphone.png" alt="" class="img-fluid">
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </div>
                    <!-- Content -->
                </div>
                <!-- Mask & flexbox options-->
            </div>
            <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->
    <!-- Main content -->
    <main>

        <div class="container">

            <!-- Section: About -->
            <section id="about" class="section about mt-5 mb-5 py-3 wow fadeIn" data-wow-delay="0.2s">

                <!-- Grid row -->
                <div class="row pt-2 mt-5">

                    <!-- Grid column -->
                    <div class="col-lg-5 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">
                        <!-- Image -->
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/66.jpg" class="img-fluid z-depth-1 rounded" alt="My photo">
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-6 ml-auto col-md-12 wow fadeIn" data-wow-delay="0.4s">

                        <!-- Secion heading -->
                        <h3 class="mb-5 dark-grey-text title font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                            <strong>Build your brand with us</strong>
                        </h3>

                        <!-- Description -->
                        <p align="justify" class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta
                            ab cupiditate iure eaque? Repellendus voluptatum, magni impedit delectus, beatae maxime temporibus
                            maiores quibusdam.</p>
                        <p align="justify" class="grey-text">Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure, animi excepturi modi aut possimus
                            in hic molestias repellendus illo ullam odit quia velit. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.</p>
                        <p align="justify" class="grey-text mb-5">Incidunt eligendi mollitia labore ipsum ex fugit explicabo saepe error neque beatae in, expedita
                            eveniet quae aliquam assumenda voluptatibus!</p>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </section>
            <!-- Section: About -->

            <hr>

            <!-- Section: Features v.4 -->
            <section id="features" class="section feature-box mb-5 pb-4">

                <!-- Section heading -->
                <h3 class="text-center title my-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                    <strong>Awesome features</strong>
                </h3>

                <!-- Section sescription -->
                <p class="text-center w-responsive mx-auto my-5 grey-text wow fadeIn" data-wow-delay="0.2s">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum dolores reiciendis
                    ad voluptas, animi obcaecati adipisci sapiente mollitia.</p>
                <!-- Grid row -->
                <div class="row features-small wow fadeIn" data-wow-delay="0.4s">

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12">
                        <!-- Grid row -->
                        <div class="row mb-3">
                            <div class="col-2">
                                <i class="fa fa-edit orange-text fa-2x"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="font-weight-bold title">Modern design</h5>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam
                                    minima.
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row mb-3">
                            <div class="col-2">
                                <i class="fa fa-cogs orange-text fa-2x"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="font-weight-bold title">Easy customize</h5>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam
                                    minima assumenda.</p>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row">
                            <div class="col-2">
                                <i class="fa fa-tablet orange-text fa-2x"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="font-weight-bold title">Responsive layouts</h5>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam.</p>
                            </div>
                        </div>
                        <!-- Grid row -->
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12 mb-1 text-center text-md-left">
                        <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="z-depth-0 img-fluid">
                    </div>
                    <!-- Grid column -->

                    <!-- Third column -->
                    <div class="col-lg-4 col-md-12">
                        <!-- Grid row -->
                        <div class="row mb-3">
                            <div class="col-2">
                                <i class="fa fa-line-chart orange-text fa-2x"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="font-weight-bold title">Optymized for SEO</h5>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam.</p>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row mb-3">
                            <div class="col-2">
                                <i class="fa fa-group orange-text fa-2x"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="font-weight-bold title">Technical support</h5>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam
                                    minima assumenda.</p>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row">
                            <div class="col-2">
                                <i class="fa fa-diamond orange-text fa-2x"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="font-weight-bold title">High quality</h5>
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam
                                    minima.
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->
                    </div>
                    <!-- Third column -->
                </div>
                <!-- Grid row -->

            </section>
            <!-- Section: Features v.4 -->

        </div>
        <!-- Streak -->
        <div class="streak streak-photo streak-long-2" style="background-image: url('/img/awesomo-bg.jpg');">
            <div class="flex-center rgba-gradient">
                <div class="container">

                    <!-- Section heading -->
                    <h3 class="text-center mb-5 pb-4 white-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                        <strong>Some facts about us</strong>
                    </h3>

                    <!--First row-->
                    <div class="row text-center">

                        <!--First column-->
                        <div class="col-md-3 mb-2">
                            <h1 class="white-text mb-1 font-weight-bold">+950</h1>
                            <p class="white-text">Happy clients</p>
                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-md-3 mb-2">
                            <h1 class="white-text mb-1 font-weight-bold">+150</h1>
                            <p class="white-text">Projects completed</p>
                        </div>
                        <!--/Second column-->

                        <!--Third column-->
                        <div class="col-md-3 mb-2">
                            <h1 class="white-text mb-1 font-weight-bold">+85</h1>
                            <p class="white-text">Winning awards</p>
                        </div>
                        <!--/Third column-->

                        <!--Fourth column-->
                        <div class="col-md-3">
                            <h1 class="white-text mb-1 font-weight-bold">+246</h1>
                            <p class="white-text">Cups of coffee</p>
                        </div>
                        <!--/Fourth column-->

                    </div>
                    <!--First row-->

                </div>
            </div>
        </div>

        <div class="container-fluid background-grey">
            <div class="container">
                <!-- Section: Testimonials v.1 -->
                <section id="testimonials" class="section mb-0">

                    <!-- Section heading -->
                    <h2 class="text-center mb-5 my-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                        <%= trans.OUR_PATRONS %>
                    </h2>

                    <!--Carousel Wrapper-->
                    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="false">

                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item active">
                                <!-- Grid row -->
                                <div class="row mt-1-half mb-4">

                                    <!-- Grid column  -->
                                    <div class="col-lg-4 col-md-12 mt-2">


                                        <!-- Card -->
                                        <div class="card card-image mb-3" style="background-image: url(https://cdn.discordapp.com/avatars/164195026258231297/06042f72a46fa0844aa65455df5c9f1e.png?size=512);">

                                            <!-- Content -->
                                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                                <div class="mx-auto">
                                                    <h5 class="feinwaru-text">
                                                        <b>
                                                            <%= trans.PATRON_10 %>
                                                        </b>
                                                    </h5>
                                                    <h3 class="card-title">
                                                        <strong>Kenny McCormick</strong>
                                                    </h3>
                                                    <p>
                                                        <%= trans.PATRON_SINCE %> 5th February 2018</p>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <a class="btn feinwaru">
                                                        <i class="fa fa-user left"></i>
                                                        <%= trans.VIEW_PROFILE %>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </div>
                                        <!-- Card -->

                                    </div>
                                    <!-- Grid column -->
                                    <div class="col-lg-4 col-md-12 mt-2">


                                        <!-- Card -->
                                        <div class="card card-image mb-3" style="background-image: url(https://cdn.discordapp.com/avatars/99626024181968896/dbec7f3d2685dfa1ecbd9215c03d1f3b.png?size=512);">

                                            <!-- Content -->
                                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                                <div class="mx-auto">
                                                    <h5 class="feinwaru-text">
                                                        <strong>
                                                            <%= trans.PATRON_10 %>
                                                        </strong>
                                                    </h5>
                                                    <h3 class="card-title">
                                                        <strong>Airborn56</strong>
                                                    </h3>
                                                    <p>
                                                        <%= trans.PATRON_SINCE %> 27th April 2018</p>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <a class="btn feinwaru">
                                                        <i class="fa fa-user left"></i>
                                                        <%= trans.VIEW_PROFILE %>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </div>
                                        <!-- Card -->

                                    </div>
                                    <!-- Grid column -->
                                    <!-- Grid column -->
                                    <div class="col-lg-4 col-md-12 mt-2">


                                        <!-- Card -->
                                        <div class="card card-image mb-3" style="background-image: url(https://pre00.deviantart.net/b54f/th/pre/f/2018/142/e/4/commision_for_savagekiller115_by_phinbella_flynn-dcc8sww.png);">

                                            <!-- Content -->
                                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                                <div class="mx-auto">
                                                    <h5 class="feinwaru-text">
                                                        <strong>
                                                            <%= trans.PATRON_10 %>
                                                        </strong>
                                                    </h5>
                                                    <h3 class="card-title">
                                                        <strong>Savagekiller115</strong>
                                                    </h3>
                                                    <p>
                                                        <%= trans.PATRON_SINCE %> 24th May 2018</p>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <a class="btn feinwaru">
                                                        <i class="fa fa-user left"></i>
                                                        <%= trans.VIEW_PROFILE %>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </div>
                                        <!-- Card -->

                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->
                            </div>
                            <!--/.First slide-->
                            <!--First slide-->
                            <div class="carousel-item">
                                <!-- Grid row -->
                                <div class="row mt-1-half mb-4">

                                    <!-- Grid column  -->
                                    <div class="col-lg-4 col-md-12 mt-2">


                                        <!-- Card -->
                                        <div class="card card-image mb-3" style="background-image: url(https://simg314.magcasa.com/content_images/2014/08/02/50715/1406933295_836.jpg);">

                                            <!-- Content -->
                                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                                <div class="mx-auto">
                                                    <h5 class="feinwaru-text">
                                                        <b>
                                                            <%= trans.PATRON_10 %>
                                                        </b>
                                                    </h5>
                                                    <h3 class="card-title">
                                                        <b>LonelyChef</b>
                                                    </h3>
                                                    <p>
                                                        <%= trans.PATRON_SINCE %> 27th May 2018</p>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <a class="btn feinwaru">
                                                        <i class="fa fa-user left"></i>
                                                        <%= trans.VIEW_PROFILE %>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </div>
                                        <!-- Card -->

                                    </div>

                                </div>
                                <!-- Grid row -->
                            </div>
                            <!--/.First slide-->

                            <!--Controls-->
                            <div class="controls-top">
                                <a class="btn-floating" href="#multi-item-example" data-slide="prev">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </a>
                                <a class="btn-floating" href="#multi-item-example" data-slide="next">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </a>
                            </div>
                            <!--/.Controls-->
                </section>
                <!-- Section: Testimonials v.1 -->
                <!--Section: Pricing v.5-->
                <section id="pricing" class="section pb-2">

                    <!--Secion heading-->
                    <h2 class="text-center mb-5 my-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                        <%= trans.SUPPORT_ON_PATREON %>
                    </h2>

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">
                            <!--Card-->
                            <div class="pricing-card naked-card">

                                <!--Content-->
                                <div class="card-body dark-grey-text">
                                    <h5 class="font-weight-bold mt-3">
                                        <%= trans.FRIENDS %>
                                    </h5>

                                    <!-- Price -->
                                    <div class="price pt-0">
                                        <h2 class="number purple-text-2 mb-0">1</h2>
                                    </div>
                                    <ul class="striped dark-grey-text">
                                        <li>
                                            <p>
                                                <%= trans.FRIENDS_ROLE %>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <%= trans.CUSTOM_COMMANDS %>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <%= trans.PATRON_CHANNEL_ACCESS %>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <%= trans.EARLY_FEATURES %>
                                                    </strong>
                                            </p>
                                        </li>
                                    </ul>
                                    <a class="btn feinwaru white-text btn-rounded">
                                        <%= trans.BECOME_A_PATRON %>
                                    </a>
                                </div>
                            </div>
                            <!--Card-->
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">

                            <!-- Card -->
                            <div class="card card-image" style="background-image: url('/img/awesomo-card.jpg');">

                                <!-- Content -->
                                <div class="text-white text-center pricing-card d-flex align-items-center rgba-gradient py-3 px-3">

                                    <!--Content-->
                                    <div class="card-body white-text">
                                        <h5 class="font-weight-bold mt-3">
                                            <%= trans.SUPER_BEST_FRIENDS %>
                                        </h5>

                                        <!-- Price -->
                                        <div class="price pt-0">
                                            <h2 class="number purple-text-2 mb-0">10</h2>
                                        </div>
                                        <ul class="striped white-text">
                                            <li>
                                                <p>
                                                    <%= trans.SBF_ROLE %>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <%= trans.AWESOMO_BETA_2 %>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <%= trans.EARLIEST_ACCESS_TM %>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <%= trans.API_ACCESS %>
                                                        </strong>
                                                </p>
                                            </li>
                                        </ul>
                                        <a class="btn btn-outline-white btn-rounded">
                                            <%= trans.BECOME_A_PATRON %>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Card-->
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">
                            <!--Card-->
                            <div class="pricing-card naked-card">

                                <!--Content-->
                                <div class="card-body dark-grey-text">
                                    <h5 class="font-weight-bold">
                                        <%= trans.BEST_FRIENDS %>
                                    </h5>

                                    <!-- Price -->
                                    <div class="price pt-0">
                                        <h2 class="number mb-0">5</h2>
                                    </div>
                                    <!--/.Price-->
                                    <ul class="striped">
                                        <li>
                                            <p>
                                                <%= trans.BF_ROLE %>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <%= trans.AWESOMO_BETA %>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <%= trans.YOUR_NAME %>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <%= trans.LOWER_TIERS %>
                                                    </strong>
                                            </p>
                                        </li>
                                    </ul>
                                    <a class="btn feinwaru white-text btn-rounded">
                                        <%= trans.BECOME_A_PATRON %>
                                    </a>
                                </div>

                            </div>
                            <!--Card-->
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </section>
                <!--/Section: Pricing v.5-->

                </div>
                </div>
                <!--/Section: Pricing v.5-->
                <!-- Streak -->

                <%- include partials/footer.ejs %>

                    <!--/.Footer-->


                    <!-- SCRIPTS -->

                    <!-- JQuery -->
                    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

                    <!-- Bootstrap tooltips -->
                    <script type="text/javascript" src="/js/popper.min.js"></script>

                    <!-- Bootstrap core JavaScript -->
                    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

                    <!-- MDB core JavaScript -->
                    <script type="text/javascript" src="/js/mdb.min.js"></script>

                    <script>
                        //Animation init
                        new WOW().init();

                        //Modal
                        $('#myModal').on('shown.bs.modal', function () {
                            $('#myInput').focus()
                        })

                        // Material Select Initialization
                        $(document).ready(function () {
                            $('.mdb-select').material_select();
                        });
                    </script>

</body>

</html>