
<footer class="page-footer font-small elegant-color-dark pt-0">

    <div class="feinwaru">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">

                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text"><%= trans.GET_CONNECTED %></h6>
                </div>

                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <a class="fb-ic ml-0">
                        <i class="fa fa-facebook white-text mr-lg-4"> </i>
                    </a>

                    <a class="tw-ic">
                        <i class="fa fa-twitter white-text mr-lg-4"> </i>
                    </a>

                    <a class="gplus-ic">
                        <i class="fa fa-google-plus white-text mr-lg-4"> </i>
                    </a>

                    <a class="li-ic">
                        <i class="fa fa-linkedin white-text mr-lg-4"> </i>
                    </a>

                    <a class="ins-ic">
                        <i class="fa fa-instagram white-text mr-lg-4"> </i>
                    </a>
                </div>


            </div>

        </div>
    </div>

    <div class="container mt-5 mb-4 text-center text-md-left">

        <div class="row mt-3">
            <div class="col-4 mb-4 float-right">
                <img id="footerlogo" src="/img/footer_logo.png" class="img-fluid" alt="Feinwaru Logo">
            </div>
            <div class="col-3 mb-4 mx-auto">
                <h6 class="text-uppercase font-weight-bold">
                    <strong><%= trans.FEINWARU_SOFTWARE %></strong>
                </h6>
                <hr class="feinwaru accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!"><%= trans.ABOUT %></a>
                </p>
                <p>
                    <a href="#!"><%= trans.PROJECTS %></a>
                </p>
                <p>
                    <a href="#!"><%= trans.DISCORD %></a>
                </p>
                <p>
                    <a href="#!"><%= trans.PATREON %></a>
                </p>
            </div>
            <div class="col-2 mb-4 mx-auto">
                <h6 class="text-uppercase font-weight-bold">
                    <strong><%= trans.AWESOMO %></strong>
                </h6>
                <hr class="feinwaru accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!"><%= trans.FEATURES %></a>
                </p>
                <p>
                    <a href="#!"><%= trans.STATUS %></a>
                </p>
                <p>
                    <a href="#!"><%= trans.BRANDING %></a>
                </p>
                <p>
                    <a href="#!"><%= trans.GITHUB %></a>
                </p>
            </div>
            <div class="col-3 mb-4 mx-auto">
                <h6 class="text-uppercase font-weight-bold">
                    <strong><%= trans.RESOURCES %></strong>
                </h6>
                <hr class="feinwaru accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!"><%= trans.HELP_AND_SUPPORT %></a>
                </p>
                <p>
                    <a href="#!"><%= trans.GUIDELINES %></a>
                </p>
                <p>
                    <a href="#!"><%= trans.FEEDBACK %></a>
                </p>
                <p>
                    <a href="#!"><%= trans.TERMS %></a>
                </p>
            </div>
        </div>
    </div>

    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://feinwaru.awesomobot.com">
            <strong> <%= trans.FEINWARU_SOFTWARE %></strong>
        </a>
    </div>


</footer>

                      