<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O //
        <%= profile_data.username %>
    </title>

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#ff594f">

    <link rel="alternate" href="/" hreflang="x-default" />
    <link rel="alternate" href="/?hl=en" hreflang="en" />
    <link rel="alternate" href="/?hl=ie" hreflang="ie" />
    <link rel="alternate" href="/?hl=pt" hreflang="pt" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
</head>

<body class="fixed-sn">
    <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <%- include ../partials/d-navbar.ejs %>
    <!--Main Layout-->


    <main>
        <div class="mb-5">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="row">
                        <!--Card-->
                        <div class="card testimonial-card" style="width: 100%;">
                            <!--Background color-->
                            <div class="card-up">
                                <img id="banner" class="img-fluid" src="" style="width: 100%;">
                            </div>
                            <!--Avatar-->
                            <div class="avatar mx-auto white">
                                <img id="avatar" class="rounded-circle img-fluid">
                            </div>
                            <div class="card-body">
                                <!--Name-->
                                <h4  class="font-weight-bold mb-4">
                                    <span class="profile-username"></span>
                                    <sup id="verified"></sup>
                                </h4>
                                <hr>
                                <!--Quotation-->
                                <p id="bio" class="dark-grey-text mt-4"></p>
                            </div>
                            <!-- Card footer -->
                            <div class="rounded-bottom feinwaru lighten-3 text-center pt-3">
                                <ul id="socials" class="list-unstyled list-inline font-small">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <!-- Card -->
                        <div class="card text-center" style="width: 100%">
                            <div class="card-body">
                                <!-- Title -->
                                <h4 class="font-weight-bold mb-4">
                                    <%= trans.TROPHY_CASE %>
                                </h4>
                                <div id="trophycase">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <div id="about-card" class="row pl-md-4 pb-4">
                        <!-- Card -->
                        <div class="card text-center" style="width: 100%">
                            <div class="card-body">

                                <!-- Title -->
                                <h4 class="font-weight-bold mb-4">
                                    <%= trans.ABOUT %>
                                    <span class="profile-username"></span>
                                </h4>
                                <div class="container">
                                    <p id="about"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="artwork-card" class="row pl-md-4 ">
                        <!-- Card -->
                        <div class="card text-center" style="width: 100%">
                            <div class="card-body">

                                <!-- Title -->
                                <h4 class="font-weight-bold mb-4">
                                    <%= trans.ARTWORK_SHOWCASE %>
                                </h4>

                                <%- include ../partials/lightbox.ejs %>

                                <div id="artwork" class="mdb-lightbox">


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pl-md-4 pt-4"></div>
                </div>
            </div>
        </div>
    </main>
    <!--/Section: Pricing v.5-->
    <!-- Streak -->
    <!--Modal: editing your page-->
    <div class="modal fade bottom show modal-content-clickable" id="modalPrompt" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" data-backdrop="false" style="padding-right: 17px; display: none;">
        <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-body py-1 grey darken-2">
                    <div class="row d-flex justify-content-center align-items-center">
                        <p class="pt-3 pr-2 text-white">
                            <%= trans.VIEWING_YOUR_PROFILE %>
                        </p>
                        <a type="button" class="btn btn-outline-white btn-md" data-toggle="modal" data-target="#modalEdit">
                            <%= trans.EDIT_YOUR_PROFILE %>
                        </a>
                        <a type="button" class="btn btn-outline-white btn-md" data-dismiss="modal">
                            <%= trans.DISMISS %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal: modalCookie-->


    <!-- Modal: modalPoll -->
    <div class="modal fade top" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">
                        <%= trans.EDIT_YOUR_PROFILE %>
                    </p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <p class="text-center">
                        <strong>
                            <%= trans.BANNER_IMAGE %>
                        </strong>
                    </p>
                    <div class="md-form">
                        <input value="" type="text" id="form-imageurl" class="form-control">
                        <label for="imageurl">
                            <%= trans.ENTER_IMAGE_URL %>
                        </label>
                    </div>

                    <p class="text-center">
                        <strong>
                            <%= trans.SHORT_BIO %>
                        </strong>
                    </p>
                    <!--Basic textarea-->
                    <div class="md-form">
                        <input id="form-bio" value="" type="text" length="150" class="form-control">
                        <label for="form-bio">
                            <%= trans.SHORT_BIO_DESC %>
                        </label>
                    </div>
                    <p class="text-center">
                        <strong>
                            <%= trans.SOCIAL_LINKS %>
                        </strong>
                    </p>
                    <div class="form-row">
                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form">
                                <i id="form-social-icon1" class="fa fa-globe prefix"></i>
                                <input value="" type="text" id="form-social-name1" class="form-control">
                                <label for="form-social-name1">
                                    <%= trans.USERNAME %>
                                </label>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form">
                                <input value="" onblur="socialIconChanger1()" type="text" id="form-social-url1" class="form-control">
                                <label for="form-social-url1">
                                    <%= trans.URL %>
                                </label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <div class="form-row">
                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form">
                                <i id="form-social-icon2" class="fa fa-globe prefix"></i>
                                <input value="" type="text" id="form-social-name2" class="form-control">
                                <label for="form-social-name2">
                                    <%= trans.USERNAME %>
                                </label>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form">
                                <input value="" onblur="socialIconChanger2()" type="text" id="form-social-url2" class="form-control">
                                <label for="form-social-url2">
                                    <%= trans.URL %>
                                </label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <div class="form-row">
                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form">
                                <i id="form-social-icon3" class="fa fa-globe prefix"></i>
                                <input value="" type="text" id="form-social-name3" class="form-control">
                                <label for="form-social-name3">
                                    <%= trans.USERNAME %>
                                </label>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form">
                                <input value="" onblur="socialIconChanger3()" type="text" id="form-social-url3" class="form-control">
                                <label for="form-social-url3">
                                    <%= trans.URL %>
                                </label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>

                    <h4 class="text-center">
                        <strong>
                            <%= trans.MODULES %>
                        </strong>
                    </h4>
                    <!-- Material inline 1 -->
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="form-about-checkbox">
                        <label class="form-check-label" for="form-about-checkbox">
                            <%= trans.ABOUT_SECTION %>
                        </label>
                    </div>

                    <!-- Material inline 2 -->
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="form-artwork-checkbox">
                        <label class="form-check-label" for="form-artwork-checkbox">
                            <%= trans.ARTWORK_SHOWCASE %>
                        </label>
                    </div>
                    <hr>
                    <!-- Grid row -->
                    <p id="about-label" class="text-center">
                        <strong>
                            <%= trans.ABOUT_SECTION %>
                        </strong>
                    </p>
                    <!--Basic textarea-->
                    <div id="form-about-section" class="md-form">
                        <textarea id="form-about" value="fgfgdfgdfg" class="form-control md-textarea" rows="5"></textarea>
                        <label for="form-about">
                            <%= trans.ABOUT_SECTION_DESC %>
                        </label>
                        <small id="" class="form-text text-muted">
                            <a href="https://github.com/showdownjs/showdown/wiki/Showdown's-Markdown-syntax">
                                <%= trans.MARKDOWN_DISCLAIMER %>
                            </a>
                        </small>
                    </div>

                    <p id="artwork-label" class="text-center">
                        <strong>
                            <%= trans.ARTWORK_SHOWCASE %>
                        </strong>
                    </p>
                    <div id="form-artwork-section" class="md-form">

                    </div>
                    <button id="form-artwork-add" class="btn btn-success btn-sm mx-auto">
                        <i class="fa fa-plus mr-1"></i>
                        <%= trans.ADD_ANOTHER_IMAGE %>
                    </button>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a id="save-profile" type="button" class="btn btn-success waves-effect waves-light">
                        <%= trans.SAVE %>
                    </a>
                    <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">
                        <%= trans.CANCEL %>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: modalPoll -->

    <%- include ../partials/footer.ejs %>

    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>

    <script>
        const getImageSize = url => {
            return new Promise((resolve, reject) => {

                const img = new Image();
                img.addEventListener("load", function () {

                    resolve(`${this.naturalWidth}x${this.naturalHeight}`);
                });
                img.src = url;
            });
        }

        //Animation init
        new WOW().init();

        //Modal
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        });

        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();

        });

        /*$(window).load(function () {
            $("#form-about-checkbox").click(function () {
                if ($("#form-about-checkbox").checked === true) {
                    $("#form-about-section").hide();
                } else {
                    $("#form-about-section").show();
                }
            })
        }); */


        // SideNav Button Initialization
        $(".button-collapse").sideNav();
        // SideNav Scrollbar Initialization
        var sideNavScrollbar = document.querySelector('.custom-scrollbar');
        Ps.initialize(
            sideNavScrollbar);

        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        const id = window.location.pathname.substring(20);
        const profile = new XMLHttpRequest();
        profile.open("GET", `/api/v3/users/${id}?extended=true`, false);
        profile
            .send();
        const profileahhyay = JSON.parse(profile.response);

        const profileyay = profileahhyay.user

        //$("#username").text("YOUR FUCKING MA");

        const about = profileyay.modules.find(e => e.name === "about");

        if (about === undefined) {

        }
        const artwork = profileyay.modules.find(e => e.name === "artwork");


        $("#avatar").attr("src", "https://cdn.discordapp.com/avatars/" + profileyay.discord_id + "/" +
        profileyay.avatar + ".png?size=128")
        $(".profile-username").text(profileyay.username)
        $("#bio").text(profileyay.bio);
        $("#about").text(profileyay.about);
        $("#banner").attr("src",
            profileyay.banner);

        if (profileyay.verified == true) {
            $("#verified").html(
                `<span class="text-info font-weight-bold" data-toggle="tooltip" data-placement="top" title="<%= trans.VERIFIED %>">
                    <i class="fa fa-check pr-1"></i>
                </span>`
            )
        };
        if (artwork !== undefined) {
            for (let i = 0; i < artwork.content.length; i++) {

                $("#artwork").append(
                    `
                    <figure class="col-lg-4 col-md-6">
                    <a id='${`art-${i}`}' href="${artwork.content[i]}">
                    <img id="artworkimg" src="${artwork.content[i]}" alt="placeholder" class="img-fluid">
                    </a>
                    </figure>
                    `
                );
            }

            getImageSize(artwork.content[i]).then(size => {
                document.getElementById(`art-${i}`).setAttribute("data-size", size);
            });
        };
        for (let i = 0; i < profileyay.socials.length; i++) {
            $("#socials").append(
                `
        <li class="list-inline-item pr-2">
            <a href="${profileyay.socials[i].url}" class="white-text">
            <i class="fab fa-${profileyay.socials[i].icon} pr-1"></i>${profileyay.socials[i].name}</a>
        </li>
    `
            );
        };

        if (profileyay.socials === undefined || profileyay.socials.length == 0) {
            $("#socials").append(
                `
        <li class="list-inline-item pr-2">
            <a class="white-text"><%= trans.NO_SOCIALS %></a>
        </li>
    `
            );
        };

        if (profileyay.modules.about === false) {
            $("#about-card").hide();
        };

        if (profileyay.modules.artwork === false) {
            $("#artwork-card").hide();
        };

        //trophies
        if (profileyay.trophies === undefined || profileyay.trophies.length == 0) {
            $("#trophycase").append(
                `
                        <h5 class="grey-text"><%= trans.NO_TROPHIES %></h5>
                        `
            );
        };
        if (profileyay.trophies.indexOf("feinwaru-dev") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text feinwaru" data-toggle="tooltip" data-placement="top" title="Pretends that he develops, but he does the html so no lol">
                            <img src="/img/trophy/trophy-fs.png">
                            <%= trans.FEINWARU_DEV %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("mod") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #099b10;">
                            <img src="/img/trophy/trophy-mod.png">
                            <%= trans.MODERATOR %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("partner") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #1cb891;">
                            <img src="/img/trophy/trophy-group.png">
                            <%= trans.PARTNER %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("bot") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text feinwaru">
                            <img src="/img/trophy/trophy-bot.png">
                            AWESOM-O
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("patron-1") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #fb664e;">
                            <img src="/img/trophy/trophy-patreon.png">
                            <%= trans.FRIEND %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("patron-5") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #fb664e;">
                            <img src="/img/trophy/trophy-patreon.png">
                            <%= trans.BEST_FRIEND %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("patron-10") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #fb664e;">
                            <img src="/img/trophy/trophy-patreon.png">
                            <%= trans.SUPER_BEST_FRIEND %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("translator") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #1c65b8;">
                            <img src="/img/trophy/trophy-trans.png">
                            <%= trans.TRANSLATOR %>
                    </div>`
            )
        };
        if (profileyay.trophies.indexOf("artist") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #df3cb6;">
                            <img src="/img/trophy/trophy-art.png">
                            <%= trans.SERVER_ARTIST %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("uchinpokomon") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #d67f0e; box-shadow: 0px 0px 10px 2px #fd9a19; ">
                            <img src="/img/trophy/trophy-chinpokomon.png">
                            <%= trans.UCCP %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("rchinpokomon") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #fd9a19;">
                            <img src="/img/trophy/trophy-chinpokomon.png">
                            <%= trans.RCCP %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("ac18_1") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #fd9a19;">
                            <img src="/img/trophy/trophy-art.png">
                            <%= trans.AC18_1 %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("ac18_2") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #838383;">
                            <img src="/img/trophy/trophy-art.png">
                            <%= trans.AC18_2 %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("ac18_3") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #a55029;">
                            <img src="/img/trophy/trophy-art.png">
                            <%= trans.AC18_3 %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("ac18ww") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #7289DA;">
                            <img src="/img/trophy/trophy-art.png">
                            <%= trans.AC18WW %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("cc18_1") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #fd9a19;">
                            <img src="/img/trophy/trophy-crayon.png">
                            <%= trans.CC18_1 %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("cc18_2") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #838383;">
                            <img src="/img/trophy/trophy-crayon.png">
                            <%= trans.CC18_2 %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("cc18_3") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #a55029;">
                            <img src="/img/trophy/trophy-crayon.png">
                            <%= trans.CC18_3 %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("cc18ww") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #7289DA;">
                            <img src="/img/trophy/trophy-crayon.png">
                            <%= trans.CC18WW %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("awesomo-1") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #4e9ffb;">
                            <img src="/img/trophy/trophy-1.0.png">
                            <%= trans.AWESOMO_1 %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("awesomo-2") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #68358a;">
                            <img src="/img/trophy/trophy-2.0.png">
                            <%= trans.AWESOMO_2 %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("verified-script") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #222222;">
                            <img src="/img/trophy/trophy-code.png">
                            <%= trans.VERIFIED_SCRIPTER %>
                        </div>`
            )
        };
        if (profileyay.trophies.indexOf("featured-script") !== -1) {
            $("#trophycase").append(
                `<div class="mx-auto chip white-text" style="background-color: #222222;">
                            <img src="/img/trophy/trophy-code.png">
                            <%= trans.FEATURED_SCRIPT %>
                        </div>`
            )
        };


        const me = new XMLHttpRequest();
        me.open("GET", `/api/v3/users/@me?extended=true`, false);
        me.send();
        const meyayahh = JSON.parse(me.response);
        const meyay = meyayahh.user

        if (meyay.discord_id === id) {
            //show da modal
            $('#modalPrompt').modal('show');
            //fill out da form
            $('#form-imageurl').attr("value", meyay.banner);
            $('#form-bio').attr("value", meyay.bio);
            $('#form-about').text(meyay.about);

            if (meyay.socials !== undefined && meyay.socials.length !== 0) {

                $('#form-social-name1').attr("value", meyay.socials[0].name);
                $('#form-social-url1').attr("value", meyay.socials[0].url);

                $('#form-social-name2').attr("value", meyay.socials[1].name);
                $('#form-social-url2').attr("value", meyay.socials[1].url);

                $('#form-social-name3').attr("value", meyay.socials[2].name);
                $('#form-social-url3').attr("value", meyay.socials[2].url);
            };

        };

        let artworkcunt = meyay.artwork.length;

        for (let i = 0; i < meyay.artwork.length; i++) {
            $("#form-artwork-section").append(
                `
        <input placeholder="<%= trans.ENTER_IMAGE_URL %>" value="${meyay.artwork[i]}" type="text" id="form-artwork-${i}" class="form-control form-art-api">
        `
            );
        };

        function socialIconChanger1() {
            const value = $("#form-social-url1").val()

            if (value.includes("twitch.tv") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-twitch prefix");
                $("#form-social-icon1").attr("social", "twitch");
            } else if (value.includes("instagram.com") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-instagram prefix");
                $("#form-social-icon1").attr("social", "instagram");
            } else if (value.includes("github.com") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-github prefix");
                $("#form-social-icon1").attr("social", "github");
            } else if (value.includes("facebook.com") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-facebook-f prefix");
                $("#form-social-icon1").attr("social", "facebook");
            } else if (value.includes("deviantart.com") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-deviantart prefix");
                $("#form-social-icon1").attr("social", "deviantart");
            } else if (value.includes("last.fm") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-lastfm prefix");
                $("#form-social-icon1").attr("social", "lastfm");
            } else if (value.includes("linkedin.com") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-linkedin prefix");
                $("#form-social-icon1").attr("social", "linkedin");
            } else if (value.includes("pinterest.com") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-pinterest prefix");
                $("#form-social-icon1").attr("social", "pinterest");
            } else if (value.includes("reddit.com") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-reddit-alien prefix");
                $("#form-social-icon1").attr("social", "reddit-alien");
            } else if (value.includes("snapchat.com") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-snapchat-ghost prefix");
                $("#form-social-icon1").attr("social", "snapchat-ghost");
            } else if (value.includes("soundcloud.com") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-soundcloud prefix");
                $("#form-social-icon1").attr("social", "soundcloud");
            } else if (value.includes("steamcommunity.com") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-steam prefix");
                $("#form-social-icon1").attr("social", "steam");
            } else if (value.includes("tumblr.com") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-tumblr prefix");
                $("#form-social-icon1").attr("social", "tumblr");
            } else if (value.includes("twitter.com") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-twitter prefix");
                $("#form-social-icon1").attr("social", "twitter");
            } else if (value.includes("youtube.com") == true) {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fab fa-youtube prefix");
                $("#form-social-icon1").attr("social", "youtube");
            } else {
                $("#form-social-icon1").removeClass();
                $("#form-social-icon1").addClass("fa fa-globe prefix");
                $("#form-social-icon1").attr("social", "globe");
            }
        };

        function socialIconChanger2() {
            const value = $("#form-social-url2").val()

            if (value.includes("twitch.tv") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-twitch prefix");
                $("#form-social-icon2").attr("social", "twitch");
            } else if (value.includes("instagram.com") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-instagram prefix");
                $("#form-social-icon2").attr("social", "instagram");
            } else if (value.includes("github.com") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-github prefix");
                $("#form-social-icon2").attr("social", "github");
            } else if (value.includes("facebook.com") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-facebook-f prefix");
                $("#form-social-icon2").attr("social", "facebook");
            } else if (value.includes("deviantart.com") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-deviantart prefix");
                $("#form-social-icon2").attr("social", "deviantart");
            } else if (value.includes("last.fm") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-lastfm prefix");
                $("#form-social-icon2").attr("social", "lastfm");
            } else if (value.includes("linkedin.com") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-linkedin prefix");
                $("#form-social-icon2").attr("social", "linkedin");
            } else if (value.includes("pinterest.com") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-pinterest prefix");
                $("#form-social-icon2").attr("social", "pinterest");
            } else if (value.includes("reddit.com") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-reddit-alien prefix");
                $("#form-social-icon2").attr("social", "reddit-alien");
            } else if (value.includes("snapchat.com") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-snapchat-ghost prefix");
                $("#form-social-icon2").attr("social", "snapchat-ghost");
            } else if (value.includes("soundcloud.com") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-soundcloud prefix");
                $("#form-social-icon2").attr("social", "soundcloud");
            } else if (value.includes("steamcommunity.com") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-steam prefix");
                $("#form-social-icon2").attr("social", "steam");
            } else if (value.includes("tumblr.com") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-tumblr prefix");
                $("#form-social-icon2").attr("social", "tumblr");
            } else if (value.includes("twitter.com") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-twitter prefix");
                $("#form-social-icon2").attr("social", "twitter");
            } else if (value.includes("youtube.com") == true) {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fab fa-youtube prefix");
                $("#form-social-icon2").attr("social", "youtube");
            } else {
                $("#form-social-icon2").removeClass();
                $("#form-social-icon2").addClass("fa fa-globe prefix");
                $("#form-social-icon2").attr("social", "globe");
            }
        };

        function socialIconChanger3() {
            const value = $("#form-social-url3").val()

            if (value.includes("twitch.tv") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-twitch prefix");
                $("#form-social-icon3").attr("social", "twitch");
            } else if (value.includes("instagram.com") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-instagram prefix");
                $("#form-social-icon3").attr("social", "instagram");
            } else if (value.includes("github.com") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-github prefix");
                $("#form-social-icon3").attr("social", "github");
            } else if (value.includes("facebook.com") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-facebook-f prefix");
                $("#form-social-icon3").attr("social", "facebook");
            } else if (value.includes("deviantart.com") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-deviantart prefix");
                $("#form-social-icon3").attr("social", "deviantart");
            } else if (value.includes("last.fm") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-lastfm prefix");
                $("#form-social-icon3").attr("social", "lastfm");
            } else if (value.includes("linkedin.com") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-linkedin prefix");
                $("#form-social-icon3").attr("social", "linkedin");
            } else if (value.includes("pinterest.com") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-pinterest prefix");
                $("#form-social-icon3").attr("social", "pinterest");
            } else if (value.includes("reddit.com") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-reddit-alien prefix");
                $("#form-social-icon3").attr("social", "reddit-alien");
            } else if (value.includes("snapchat.com") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-snapchat-ghost prefix");
                $("#form-social-icon3").attr("social", "snapchat-ghost");
            } else if (value.includes("soundcloud.com") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-soundcloud prefix");
                $("#form-social-icon3").attr("social", "soundcloud");
            } else if (value.includes("steamcommunity.com") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-steam prefix");
                $("#form-social-icon3").attr("social", "steam");
            } else if (value.includes("tumblr.com") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-tumblr prefix");
                $("#form-social-icon3").attr("social", "tumblr");
            } else if (value.includes("twitter.com") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-twitter prefix");
                $("#form-social-icon3").attr("social", "twitter");
            } else if (value.includes("youtube.com") == true) {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fab fa-youtube prefix");
                $("#form-social-icon3").attr("social", "youtube");
            } else {
                $("#form-social-icon3").removeClass();
                $("#form-social-icon3").addClass("fa fa-globe prefix");
                $("#form-social-icon3").attr("social", "globe");
            }
        };

        window.onload = () => {
            socialIconChanger1();
            socialIconChanger2();
            socialIconChanger3();

            const aboutcheckbox = document.getElementById("form-about-checkbox");
            const artworkcheckbox = document.getElementById("form-artwork-checkbox");

            if (meyay.modules.about === true) {
                aboutcheckbox.checked = true;
                $("#form-about-section").show();
                $("#about-label").html("<strong><%= trans.ABOUT_SECTION %></strong>");
            } else {
                aboutcheckbox.checked = false;
                $("#form-about-section").hide();
                $("#about-label").html(
                    "<strong><%= trans.ABOUT_SECTION %> (<%= trans.DISABLED %>)</strong>");
            }

            aboutcheckbox.onclick = () => {
                if (aboutcheckbox.checked === true) {
                    $("#form-about-section").show();
                    $("#about-label").html("<strong><%= trans.ABOUT_SECTION %></strong>");
                } else {
                    $("#form-about-section").hide();
                    $("#about-label").html(
                        "<strong><%= trans.ABOUT_SECTION %> (<%= trans.DISABLED %>)</strong>");
                }
            }

            if (meyay.modules.artwork === true) {
                artworkcheckbox.checked = true;
                $("#form-artwork-section").show();
                $("#artwork-label").html("<strong><%= trans.ARTWORK_SHOWCASE %></strong>");
            } else {
                artworkcheckbox.checked = false;
                $("#form-artwork-section").hide();
                $("#artwork-label").html(
                    "<strong><%= trans.ARTWORK_SHOWCASE %> (<%= trans.DISABLED %>)</strong>");
            }

            artworkcheckbox.onclick = () => {
                if (artworkcheckbox.checked === true) {
                    $("#form-artwork-section").show();
                    $("#artwork-label").html("<strong><%= trans.ARTWORK_SHOWCASE %></strong>");
                } else {
                    $("#form-artwork-section").hide();
                    $("#artwork-label").html(
                        "<strong><%= trans.ARTWORK_SHOWCASE %> (<%= trans.DISABLED %>)</strong>");
                }
            }
            $("#form-artwork-add").click(function () {
                $("#form-artwork-section").append(
                    `
            <input placeholder="<%= trans.ENTER_IMAGE_URL %>" value="" type="text" id="form-artwork-${artworkcunt++}" class="form-control form-art-api">
        `
                );
            });


            /*if ($("#form-social-url1").val()) {
               alert("ahhh its twitch")
                $("#form-social-url1").add
            };
            */
            {
                // dragons nice code goes here, if you put jquery here i will actually end you

                const submitButton = document.getElementById("save-profile");


                submitButton.onclick = () => {
                    const banner = document.getElementById("form-imageurl");
                    const bio = document.getElementById("form-bio");
                    const social_icon_1 = document.getElementById("form-social-icon1").getAttribute(
                        "social");
                    const social_name_1 = document.getElementById("form-social-name1");
                    const social_url_1 = document.getElementById("form-social-url1");
                    const social_icon_2 = document.getElementById("form-social-icon2").getAttribute(
                        "social");
                    const social_name_2 = document.getElementById("form-social-name2");
                    const social_url_2 = document.getElementById("form-social-url2");
                    const social_icon_3 = document.getElementById("form-social-icon3").getAttribute(
                        "social");
                    const social_name_3 = document.getElementById("form-social-name3");
                    const social_url_3 = document.getElementById("form-social-url3");
                    const about_checkbox = document.getElementById("form-about-checkbox");
                    const artwork_checkbox = document.getElementById("form-artwork-checkbox");
                    const about = document.getElementById("form-about");
                    const artwork = document.getElementsByClassName("form-art-api");
                    const body = {
                        banner: banner.value,
                        bio: bio.value,
                        socials: [{
                                icon: social_icon_1,
                                name: social_name_1.value,
                                url: social_url_1.value
                            },
                            {
                                icon: social_icon_2,
                                name: social_name_2.value,
                                url: social_url_2.value
                            },
                            {
                                icon: social_icon_3,
                                name: social_name_3.value,
                                url: social_url_3.value
                            }
                        ],
                        modules: {
                            about: about_checkbox.checked,
                            artwork: artwork_checkbox.checked
                        },
                        about: about.value,
                        artwork: []
                    }

                    for (let art of artwork) {

                        body.artwork.push(art.value);
                    }

                    const upd = new XMLHttpRequest();
                    upd.open("PATCH", `/api/v3/users/@me`, false);
                    upd.setRequestHeader("Content-Type", "application/json");
                    upd.send(JSON.stringify(body));

                    const upd_res = JSON.parse(upd.response);
                    if (upd_res.status === 200) {

                        // success
                        toastr["success"]("<%= trans.USER_UPDATE_SUCCESS %>");

                        setTimeout(function () {
                            location.reload();
                        }, 2000)

                    } else {
                        // failure
                        toastr["error"](typeof upd_res.error === "string" ? upd_res.error :
                            `${upd_res.status} - ${upd_res.message}`);
                    }
                }
            }

        };
    </script>


</body>

</html>