<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O //
        <%= trans.DASHBOARD %>
    </title>

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#ff594f">

    <link rel="alternate" href="/" hreflang="x-default" />
    <link rel="alternate" href="/?hl=en" hreflang="en" />
    <link rel="alternate" href="/?hl=ie" hreflang="ie" />
    <link rel="alternate" href="/?hl=pt" hreflang="pt" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
</head>

<body class="fixed-sn">
    <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <%- include ../partials/d-navbar.ejs %>
        <!--Main Layout-->


        <main>
            <div class="mb-5">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="row">
                            <!--Card-->
                            <div class="card testimonial-card">
                                <!--Background color-->
                                <div class="card-up">
                                    <img id="banner" class="img-fluid" src="">
                                </div>
                                <!--Avatar-->
                                <div class="avatar mx-auto white">
                                    <img src="https://cdn.discordapp.com/avatars/<%= user_data.id %>/<%= user_data.avatar %>.png?size=128" class="rounded-circle img-fluid">
                                </div>
                                <div class="card-body">
                                    <!--Name-->
                                    <h4 id="username" class="font-weight-bold mb-4">
                                        <%= user_data.username %>
                                            <sup id="verified"></sup>
                                    </h4>
                                    <hr>
                                    <!--Quotation-->
                                    <p id="bio" class="dark-grey-text mt-4"></p>
                                </div>
                                <!-- Card footer -->
                                <div class="rounded-bottom feinwaru lighten-3 text-center pt-3">
                                    <ul id="socials" class="list-unstyled list-inline font-small">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <!-- Card -->
                            <div class="card text-center" style="width: 100%">
                                <div class="card-body">

                                    <!-- Title -->
                                    <h4 class="font-weight-bold mb-4">
                                        Trophy Case
                                    </h4>
                                    <div class="mx-auto chip white-text feinwaru" data-toggle="tooltip" data-placement="top" title="Pretends that he develops, but he does the html so no lol">
                                        <img src="/img/trophy/trophy-fs.png"> Feinwaru Developer
                                    </div>
                                    <div class="mx-auto chip white-text" style="background-color: #7289DA;">
                                        <img src="/img/trophy/trophy-art.png" alt="Contact Person"> Art Contest 2018 Weekly Winner
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="row pl-md-4">
                            <!-- Card -->
                            <div class="card text-center" style="width: 100%">
                                <div class="card-body">

                                    <!-- Title -->
                                    <h4 class="font-weight-bold mb-4">About
                                        <%= user_data.username %>
                                    </h4>
                                    <div class="container">
                                        <p id="about"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pl-md-4 pt-4">
                            <!-- Card -->
                            <div class="card text-center" style="width: 100%">
                                <div class="card-body">

                                    <!-- Title -->
                                    <h4 class="font-weight-bold mb-4">
                                        Artwork Showcase
                                    </h4>

                                    <%- include ../partials/lightbox.ejs %>

                                        <div id="artwork" class="mdb-lightbox">


                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pl-md-4 pt-4"></div>
                    </div>
                </div>
            </div>
        </main>
        <!--/Section: Pricing v.5-->
        <!-- Streak -->

        <%- include ../partials/footer.ejs %>

            <!--/.Footer-->


            <!-- SCRIPTS -->

            <!-- JQuery -->
            <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="/js/popper.min.js"></script>

            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>

            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="/js/mdb.min.js"></script>

            <script>
                const getImageSize = url => {
                    return new Promise((resolve, reject) => {

                        const img = new Image();
                        img.addEventListener("load", function() {
                            
                            resolve(`${this.naturalWidth}x${this.naturalHeight}`);
                        });
                        img.src = url;
                    });
                }

                //Animation init
                new WOW().init();

                //Modal
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').focus()
                })

                // Material Select Initialization
                $(document).ready(function () {
                    $('.mdb-select').material_select();
                });

                // SideNav Button Initialization
                $(".button-collapse").sideNav();
                // SideNav Scrollbar Initialization
                var sideNavScrollbar = document.querySelector('.custom-scrollbar');
                Ps.initialize(sideNavScrollbar);

                // Tooltips Initialization
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
                const id = window.location.pathname.substring(20);
                const profile = new XMLHttpRequest();
                profile.open("GET", `/api/v3/users/${id}`, false);
                profile.send();
                const profileyay = JSON.parse(profile.response);
                //$("#username").text("YOUR FUCKING MA");
                $("#bio").text(profileyay.bio);
                $("#about").text(profileyay.about);
                $("#banner").attr("src", profileyay.banner);

                if (profileyay.verified == true) {
                    $("#verified").html(
                        `<span class="text-info font-weight-bold" data-toggle="tooltip" data-placement="top" title="Verified">
        <i class="fa fa-check pr-1"></i>
    </span>`
                    )
                };

                for (let i = 0; i < profileyay.artwork.length; i++) {
                    
                    $("#artwork").append(
                        `
                    <figure class="col-lg-4 col-md-6">
                        <a id='${`art-${i}`}' href="${profileyay.artwork[i]}">
                            <img id="artworkimg" src="${profileyay.artwork[i]}" alt="placeholder" class="img-fluid">
                        </a>
                    </figure>
                    `
                    );

                    getImageSize(profileyay.artwork[i]).then(size => {

                        document.getElementById(`art-${i}`).setAttribute("data-size", size);
                    });
                };
                for (let i = 0; i < profileyay.socials.length; i++) {
                    $("#socials").append(
                        `
                        <li class="list-inline-item pr-2">
                            <a href="${profileyay.socials[i].link}" class="white-text">
                            <i class="fa fa-${profileyay.socials[i].icon} pr-1"></i>${profileyay.socials[i].name}</a>
                        </li>
                    `
                    );
                };

                if (profileyay.socials === undefined || profileyay.socials.length == 0) {
                    $("#socials").append(
                        `
                        <li class="list-inline-item pr-2">
                            <a class="white-text">This user has no socials :(</a>
                        </li>
                    `
                    );
                }
            </script>

</body>

</html>