<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O //
        <%= user_data.username %>
    </title>

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#ff594f">

    <link rel="alternate" href="/" hreflang="x-default" />
    <link rel="alternate" href="/?hl=en" hreflang="en" />
    <link rel="alternate" href="/?hl=ie" hreflang="ie" />
    <link rel="alternate" href="/?hl=pt" hreflang="pt" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
</head>

<body class="fixed-sn">
    <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <%- include ../partials/d-navbar.ejs %>
        <!--Main Layout-->


        <main>
            <div class="mb-5">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="row">
                            <!--Card-->
                            <div class="card testimonial-card">
                                <!--Background color-->
                                <div class="card-up">
                                    <img id="banner" class="img-fluid" src="">
                                </div>
                                <!--Avatar-->
                                <div class="avatar mx-auto white">
                                    <img src="https://cdn.discordapp.com/avatars/<%= user_data.id %>/<%= user_data.avatar %>.png?size=128" class="rounded-circle img-fluid">
                                </div>
                                <div class="card-body">
                                    <!--Name-->
                                    <h4 id="username" class="font-weight-bold mb-4">
                                        <%= user_data.username %>
                                            <sup id="verified"></sup>
                                    </h4>
                                    <hr>
                                    <!--Quotation-->
                                    <p id="bio" class="dark-grey-text mt-4"></p>
                                </div>
                                <!-- Card footer -->
                                <div class="rounded-bottom feinwaru lighten-3 text-center pt-3">
                                    <ul id="socials" class="list-unstyled list-inline font-small">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <!-- Card -->
                            <div class="card text-center" style="width: 100%">
                                <div class="card-body">
                                    <!-- Title -->
                                    <h4 class="font-weight-bold mb-4">
                                        Trophy Case
                                    </h4>
                                    <div id="trophycase"></div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="row pl-md-4">
                            <!-- Card -->
                            <div class="card text-center" style="width: 100%">
                                <div class="card-body">

                                    <!-- Title -->
                                    <h4 class="font-weight-bold mb-4">About
                                        <%= user_data.username %>
                                    </h4>
                                    <div class="container">
                                        <p id="about"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="artwork-card" class="row pl-md-4 pt-4">
                            <!-- Card -->
                            <div class="card text-center" style="width: 100%">
                                <div class="card-body">

                                    <!-- Title -->
                                    <h4 class="font-weight-bold mb-4">
                                        Artwork Showcase
                                    </h4>

                                    <%- include ../partials/lightbox.ejs %>

                                        <div id="artwork" class="mdb-lightbox">


                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pl-md-4 pt-4"></div>
                    </div>
                </div>
            </div>
        </main>
        <!--/Section: Pricing v.5-->
        <!-- Streak -->
        <!--Modal: editing your page-->
        <div class="modal fade bottom show modal-content-clickable" id="modalPrompt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            data-backdrop="false" style="padding-right: 17px; display: none;">
            <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document">
                <div class="modal-content">
                    <div class="modal-body py-1 grey darken-2">
                        <div class="row d-flex justify-content-center align-items-center">
                            <p class="pt-3 pr-2 text-white">You are viewing your profile</p>
                            <a type="button" class="btn btn-outline-white btn-md" data-toggle="modal" data-target="#modalEdit">Edit your profile</a>
                            <a type="button" class="btn btn-outline-white btn-md" data-dismiss="modal">Dismiss</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal: modalCookie-->


        <!-- Modal: modalPoll -->
        <div class="modal fade top" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
            data-backdrop="false">
            <div class="modal-dialog modal-notify modal-success" role="document">
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Edit Profile
                        </p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">×</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <p class="text-center">
                            <strong>Banner Image</strong>
                        </p>
                        <div class="md-form">
                            <input value="" type="text" id="form-imageurl" class="form-control">
                            <label for="imageurl">Enter an Image URL</label>
                        </div>

                        <p class="text-center">
                            <strong>Short Bio</strong>
                        </p>
                        <!--Basic textarea-->
                        <div class="md-form">
                            <input id="form-bio" value="" type="text" length="150" class="form-control">
                            <label for="form-bio">A short bio for underneath your avatar</label>
                        </div>
                        <p class="text-center">
                            <strong>Social Links</strong>
                        </p>
                        <div class="form-row">
                            <!-- Grid column -->
                            <div class="col">
                                <!-- Material input -->
                                <div class="md-form">
                                    <input value="" type="text" id="form-social-name1" class="form-control">
                                    <label for="form-social-name1">Username</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col">
                                <!-- Material input -->
                                <div class="md-form">
                                    <input value="" type="text" id="form-social-url1" class="form-control">
                                    <label for="form-social-url1">URL</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <div class="form-row">
                            <!-- Grid column -->
                            <div class="col">
                                <!-- Material input -->
                                <div class="md-form">
                                    <input value="" type="text" id="form-social-name2" class="form-control">
                                    <label for="form-social-name2">Username</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col">
                                <!-- Material input -->
                                <div class="md-form">
                                    <input value="" type="text" id="form-social-url2" class="form-control">
                                    <label for="form-social-url2">URL</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <div class="form-row">
                            <!-- Grid column -->
                            <div class="col">
                                <!-- Material input -->
                                <div class="md-form">
                                    <input value="" type="text" id="form-social-name3" class="form-control">
                                    <label for="form-social-name3">Username</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col">
                                <!-- Material input -->
                                <div class="md-form">
                                    <input value="" type="text" id="form-social-url3" class="form-control">
                                    <label for="form-social-url3">URL</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div>

                        <h4 class="text-center">
                            <strong>Modules</strong>
                        </h4>
                        <!-- Material inline 1 -->
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="form-about-checkbox">
                            <label class="form-check-label" for="form-about-checkbox">About Section</label>
                        </div>

                        <!-- Material inline 2 -->
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="form-artwork-checkbox">
                            <label class="form-check-label" for="form-artwork-checkbox">Artwork Showcase</label>
                        </div>
                        <hr>
                        <!-- Grid row -->
                        <p id="about-label" class="text-center">
                            <strong>About Section</strong>
                        </p>
                        <!--Basic textarea-->
                        <div id="form-about-section" class="md-form">
                            <textarea id="form-about" value="fgfgdfgdfg" class="form-control md-textarea" rows="5"></textarea>
                            <label for="form-about">Enter anything you want the world to know</label>
                            <small id="" class="form-text text-muted">
                                <a href="https://github.com/showdownjs/showdown/wiki/Showdown's-Markdown-syntax">You can use markdown in this field. Click here for a helpsheet.</a>
                            </small>
                        </div>

                        <p id="artwork-label" class="text-center">
                            <strong>Artwork Showcase</strong>
                        </p>
                        <div id="form-artwork-section" class="md-form">

                        </div>
                        <button id="form-artwork-add" class="btn btn-success btn-sm mx-auto">
                            <i class="fa fa-plus mr-1"></i> Add Another Image</button>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <a id="save-profile" type="button" class="btn btn-success waves-effect waves-light">Save
                        </a>
                        <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal: modalPoll -->

        <%- include ../partials/footer.ejs %>

            <!--/.Footer-->


            <!-- SCRIPTS -->

            <!-- JQuery -->
            <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="/js/popper.min.js"></script>

            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>

            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="/js/mdb.min.js"></script>

            <script>
                const getImageSize = url => {
                    return new Promise((resolve, reject) => {

                        const img = new Image();
                        img.addEventListener("load", function () {

                            resolve(`${this.naturalWidth}x${this.naturalHeight}`);
                        });
                        img.src = url;
                    });
                }

                //Animation init
                new WOW().init();

                //Modal
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').focus()
                });

                // Material Select Initialization
                $(document).ready(function () {
                    $('.mdb-select').material_select();

                });

                /*$(window).load(function () {
                    $("#form-about-checkbox").click(function () {
                        if ($("#form-about-checkbox").checked === true) {
                            $("#form-about-section").hide();
                        } else {
                            $("#form-about-section").show();
                        }
                    })
                }); */


                // SideNav Button Initialization
                $(".button-collapse").sideNav();
                // SideNav Scrollbar Initialization
                var sideNavScrollbar = document.querySelector('.custom-scrollbar');
                Ps.initialize(
                    sideNavScrollbar);

                // Tooltips Initialization
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                });
                const id = window.location.pathname.substring(20);
                const profile = new XMLHttpRequest();
                profile.open("GET", `/api/v3/users/${id}`, false);
                profile
                    .send();
                const profileyay = JSON.parse(profile.response);
                //$("#username").text("YOUR FUCKING MA");
                $("#bio").text(profileyay.bio);
                $("#about").text(profileyay.about);
                $("#banner").attr("src",
                    profileyay.banner);

                if (profileyay.verified == true) {
                    $("#verified").html(
                        `<span class="text-info font-weight-bold" data-toggle="tooltip" data-placement="top" title="Verified">
        <i class="fa fa-check pr-1"></i>
    </span>`
                    )
                };

                for (let i = 0; i < profileyay.artwork.length; i++) {

                    $("#artwork").append(
                        `
                    <figure class="col-lg-4 col-md-6">
                        <a id='${`art-${i}`}' href="${profileyay.artwork[i]}">
                            <img id="artworkimg" src="${profileyay.artwork[i]}" alt="placeholder" class="img-fluid">
                        </a>
                    </figure>
                    `
                    );

                    getImageSize(profileyay.artwork[i]).then(size => {

                        document.getElementById(`art-${i}`).setAttribute("data-size", size);
                    });
                };
                for (let i = 0; i < profileyay.socials.length; i++) {
                    $("#socials").append(
                        `
                        <li class="list-inline-item pr-2">
                            <a href="${profileyay.socials[i].link}" class="white-text">
                            <i class="fa fa-${profileyay.socials[i].icon} pr-1"></i>${profileyay.socials[i].name}</a>
                        </li>
                    `
                    );
                };

                if (profileyay.socials === undefined || profileyay.socials.length == 0) {
                    $("#socials").append(
                        `
                        <li class="list-inline-item pr-2">
                            <a class="white-text">This user has no socials :(</a>
                        </li>
                    `
                    );
                };
                if (profileyay.artwork === undefined || profileyay.artwork.length == 0) {
                    $("#artwork-card").hide();
                };

                //trophies
                if (profileyay.trophies === undefined || profileyay.trophies.length == 0) {
                    $("#trophycase").append(
                        `
                        <h5 class="grey-text">it's very lonely here</h5>
                    `
                    );
                };
                if (profileyay.trophies.indexOf("feinwaru-dev") !== -1) {
                    $("#trophycase").append(
                        `<div class="mx-auto chip white-text feinwaru" data-toggle="tooltip" data-placement="top" title="Pretends that he develops, but he does the html so no lol">
    <img src="/img/trophy/trophy-fs.png"> Feinwaru Developer
</div>`
                    )
                };
                if (profileyay.trophies.indexOf("ac18ww") !== -1) {
                    $("#trophycase").append(
                        `<div class="mx-auto chip white-text" style="background-color: #7289DA;">
    <img src="/img/trophy/trophy-art.png"> Art Contest 2018 Weekly Winner
</div>`
                    )
                };

                const me = new XMLHttpRequest();
                me.open("GET", `/api/v3/users/@me`, false);
                me.send();
                const meyay = JSON.parse(me.response);
                if (meyay.discord_id === id) {
                    //show da modal
                    $('#modalPrompt').modal('show');
                    //fill out da form
                    $('#form-imageurl').attr("value", meyay.banner);
                    $('#form-bio').attr("value", meyay.bio);
                    $('#form-about').text(meyay.about);

                    $('#form-social-name1').attr("value", meyay.socials[0].name);
                    $('#form-social-url1').attr("value", meyay.socials[0].link);

                    $('#form-social-name2').attr("value", meyay.socials[1].name);
                    $('#form-social-url2').attr("value", meyay.socials[1].link);

                    $('#form-social-name3').attr("value", meyay.socials[2].name);
                    $('#form-social-url3').attr("value", meyay.socials[2].link);

                };

                let artworkcunt = meyay.artwork.length;

                for (let i = 0; i < meyay.artwork.length; i++) {
                    $("#form-artwork-section").append(
                        `
                        <input placeholder="Enter an Image URL" value="${meyay.artwork[i]}" type="text" id="form-artwork-${i}" class="form-control form-art-api">
                        `
                    );
                };

                window.onload = () => {
                    const aboutcheckbox = document.getElementById("form-about-checkbox");
                    const artworkcheckbox = document.getElementById("form-artwork-checkbox");

                    if (meyay.modules.about === true) {
                        aboutcheckbox.checked = true;
                        $("#form-about-section").show();
                        $("#about-label").html("<strong>About Section</strong>");
                    } else {
                        aboutcheckbox.checked = false;
                        $("#form-about-section").hide();
                        $("#about-label").html("<strong>About Section (Disabled)</strong>");
                    }

                    aboutcheckbox.onclick = () => {
                        if (aboutcheckbox.checked === true) {
                            $("#form-about-section").show();
                            $("#about-label").html("<strong>About Section</strong>");
                        } else {
                            $("#form-about-section").hide();
                            $("#about-label").html("<strong>About Section (Disabled)</strong>");
                        }
                    }

                    if (meyay.modules.artwork === true) {
                        artworkcheckbox.checked = true;
                        $("#form-artwork-section").show();
                        $("#artwork-label").html("<strong>Artwork Showcase</strong>");
                    } else {
                        aboutcheckbox.checked = false;
                        $("#form-artwork-section").hide();
                        $("#artwork-label").html("<strong>Artwork Showcase (Disabled)</strong>");
                    }

                    artworkcheckbox.onclick = () => {
                        if (artworkcheckbox.checked === true) {
                            $("#form-artwork-section").show();
                            $("#artwork-label").html("<strong>Artwork Showcase</strong>");
                        } else {
                            $("#form-artwork-section").hide();
                            $("#artwork-label").html("<strong>Artwork Showcase (Disabled)</strong>");
                        }
                    }
                    $("#form-artwork-add").click(function () {
                        $("#form-artwork-section").append(
                            `
                            <input placeholder="Enter an Image URL" value="" type="text" id="form-artwork-${artworkcunt++}" class="form-control form-art-api">
                        `
                        );
                    });

                    {
                        // dragons nice code goes here, if you put jquery here i will actually end you

                        const submitButton = document.getElementById("save-profile");

                        const banner = document.getElementById("form-imageurl");
                        const bio = document.getElementById("for-bio");
                        const name_1 = document.getElementById("form-social-name1");
                        const social_url_1 = document.getElementById("form-social-url1");
                        const social_name_2 = document.getElementById("form-social-name2");
                        const social_url_2 = document.getElementById("form-social-url2");
                        const social_name_3 = document.getElementById("form-social-name3");
                        const social_url_3 = document.getElementById("form-social-url3");
                        const about_checkbox = document.getElementById("form-about-checkbox");
                        const artwork_checkbox = document.getElementById("form-artwork-checkbox");
                        const about = document.getElementById("form-about");
                        const artwork = document.getElementsByClassName("form-art-api");

                        submitButton.onclick = () => {

                            alert(banner.value);
                        }
                    }
                };
            </script>

</body>
<div class="mx-auto chip white-text feinwaru" data-toggle="tooltip" data-placement="top" title="Pretends that he develops, but he does the html so no lol">
    <img src="/img/trophy/trophy-fs.png"> Feinwaru Developer
</div>
<div class="mx-auto chip white-text" style="background-color: #7289DA;">
    <img src="/img/trophy/trophy-art.png" alt="Contact Person"> Art Contest 2018 Weekly Winner
</div>

</html>