<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ../partials/headers.ejs %>
  <title>AWESOM-O //
    <%= trans.SCRIPT_MANAGER %>
  </title>

  <style>
    .switch.round label .lever {
            width: 54px;
            height: 34px;
            border-radius: 10em;
        }

        .switch.round label .lever:after {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            left: 4px;
            top: 4px;
        }

        .switch.blue-white-switch label input[type=checkbox]:checked+.lever {
            background-color: #2196f3;
        }

        .switch.blue-white-switch label input[type=checkbox]:checked+.lever:after {
            background-color: #fff;
        }

        .switch.blue-white-switch label .lever {
            background-color: #ccc;
        }

        .switch.blue-white-switch label .lever:after {
            background-color: #fff;
        }

        .switch label input[type=checkbox]:checked+.lever:after {
            background-color: #ff594f;
            left: 24px;
        }

        .switch label input[type=checkbox]:checked+.lever {
            background-color: #f8c9c9
        }

        .dropdown-content li>a,
        .dropdown-content li>span {
            color: #2c2c2c;
        }

        code {
            display: block;
            overflow-x: auto;
            padding: 0.5em;
            color: #e2e2e2;
            background: #555658;
            border-radius: 4px
        }

        .smallboiicode {
            display: inline;
            transform: translateY(-0.1em);
            padding: 0.2em;
            padding-right: 0.4em;
            padding-left: 0.4em;
            overflow-x: 0;
            color: #e2e2e2;
            background: #555658;
            border-radius: 4px
        }


    </style>
</head>

<body class="fixed-sn">
  <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
  <%- include ../partials/d-navbar.ejs %>
  <!--Main Layout-->


  <main>
    <div class="mb-5">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="text-center" style="width: 100%">
              <h1 class="font-weight-bold mb-2 mt-2 pb-1">
                <%= trans.SCRIPT_MANAGER %>
              </h1>
              <th>
                <h4 class="font-weight-bold dark-grey-text">Editing script settings for
                  <span id="server-name"></span>
                </h4>
              </th>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <form class="form-inline md-form mr-auto mb-4">
                    <input class="form-control mr-sm-2" type="text" placeholder="<%= trans.SEARCH %>" aria-label="Search">
                    <button class="btn btn-feinwaru btn-rounded btn-sm my-0" type="submit">
                      <%= trans.SEARCH %>
                    </button>
                  </form>
                </div>

              </div>

              <div id="script-list" class="row">

              </div>



              <!--Pagination -->
              <nav aria-label="pagination example">
                <ul class="pagination pagination-circle pg-feinwaru mb-3 justify-content-center">

                  <!--First-->
                  <li class="page-item disabled">
                    <a class="page-link">First</a>
                  </li>

                  <!--Arrow left-->
                  <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>

                  <!--Numbers-->
                  <li class="page-item active">
                    <a class="page-link">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link">4</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link">5</a>
                  </li>

                  <!--Arrow right-->
                  <li class="page-item">
                    <a class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>

                  <!--Last-->
                  <li class="page-item">
                    <a class="page-link">Last</a>
                  </li>

                </ul>
              </nav>
            </div>
            <!--Table-->
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--/Section: Pricing v.5-->
  <!-- Streak -->

  <%- include ../partials/footer.ejs %>

  <!--/.Footer-->


  <!-- SCRIPTS -->

  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>

  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>

  <script>
// Material Select Initialization
$(document).ready(function() {
 $('.mdb-select').material_select();
});

    //Animation init
    new WOW().init();

    //Modal
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus()
    })
    // SideNav Button Initialization
    $(".button-collapse").sideNav();
    // SideNav Scrollbar Initialization
    var sideNavScrollbar = document.querySelector('.custom-scrollbar');
    Ps.initialize(sideNavScrollbar);

    for (let i = 0; i < 20; i++) {
      $("#script-list").append(
        `
        <div class="col-sm-6 col-md-6 col-lg-3 col-xxl-2 mb-5">
               <!-- Card -->
               <div class="card">
                   <!-- Card content -->
                   <div class="card-body">
                      <!-- Title -->
                          <h4 class="card-title font-weight-bold">Overwatch Stats
                              <sup><span class="text-success font-weight-bold" data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified Script">
                                          <i class="fa fa-check pr-1"></i>
                                      </span></sup>
                          </h4>
                          <p>
                          <code>-ow</code>
                      </p>
                      <hr>
                      <h5 class="font-weight-bold">Permissions</h class="font-weight-bold">
                      <h5>Members</h6>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-sm btn-orange btn-rounded">Whitelist</button>
                        <button type="button" class="btn btn-sm btn-white btn-rounded">Blacklist</button>
                      </div>
                      <!-- Text -->
                      <select class="mdb-select md-form" searchable="Search here..">
                        <option value="" disabled selected>Select members</option>
                        <option value="1">USA</option>
                        <option value="2">Germany</option>
                        <option value="3">France</option>
                        <option value="3">Poland</option>
                        <option value="3">Japan</option>
                      </select>
                      
                      <h5>Roles</h6>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-sm btn-orange btn-rounded">Whitelist</button>
                        <button type="button" class="btn btn-sm btn-white btn-rounded">Blacklist</button>
                      </div>
                      <!-- Text -->
                      <select class="mdb-select md-form" searchable="Search here..">
                        <option value="" disabled selected>Select roles</option>
                        <option value="1">USA</option>
                        <option value="2">Germany</option>
                        <option value="3">France</option>
                        <option value="3">Poland</option>
                        <option value="3">Japan</option>
                      </select>

                      <h5>Channels</h6>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-sm btn-orange btn-rounded">Whitelist</button>
                        <button type="button" class="btn btn-sm btn-white btn-rounded">Blacklist</button>
                      </div>
                      <!-- Text -->
                      <select class="mdb-select md-form" searchable="Search here..">
                        <option value="" disabled selected>Select channels</option>
                        <option value="1">USA</option>
                        <option value="2">Germany</option>
                        <option value="3">France</option>
                        <option value="3">Poland</option>
                        <option value="3">Japan</option>
                      </select>
                   </div>
                   <!-- Card footer -->
                   <div class="rounded-bottom green text-center pt-3">
                       <ul class="list-unstyled list-inline font-small">
                           <li class="list-inline-item pr-2">
                               <a id="5c41acbff4d9a83cb858c346" class="white-text like" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like this script!">
                                   <i class="fas fa-save"> </i> <%= trans.SAVE %>
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
           `
      )
    }

  </script>


</body>

</html>