<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O //
        <%= trans.PATRON_MANAGEMENT %>
    </title>

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#ff594f">

    <link rel="alternate" href="/" hreflang="x-default" />
    <link rel="alternate" href="/?hl=en" hreflang="en" />
    <link rel="alternate" href="/?hl=ie" hreflang="ie" />
    <link rel="alternate" href="/?hl=pt" hreflang="pt" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <style>
        .switch.round label .lever {
            width: 54px;
            height: 34px;
            border-radius: 10em;
        }

        .switch.round label .lever:after {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            left: 4px;
            top: 4px;
        }

        .switch.blue-white-switch label input[type=checkbox]:checked+.lever {
            background-color: #2196f3;
        }

        .switch.blue-white-switch label input[type=checkbox]:checked+.lever:after {
            background-color: #fff;
        }

        .switch.blue-white-switch label .lever {
            background-color: #ccc;
        }

        .switch.blue-white-switch label .lever:after {
            background-color: #fff;
        }

        .switch label input[type=checkbox]:checked+.lever:after {
            background-color: #ff594f;
            left: 24px;
        }

        .switch label input[type=checkbox]:checked+.lever {
            background-color: #f8c9c9
        }

        .dropdown-content li>a,
        .dropdown-content li>span {
            color: #2c2c2c;
        }

        .stepper-horizontal li:hover {
            background-color: rgba(0, 0, 0, 0)
        }
    </style>
</head>

<body class="fixed-sn">
    <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <%- include ../partials/d-navbar.ejs %>
    <!--Main Layout-->


    <main>
        <div class="mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="text-center" style="width: 100%">
                            <h1 class="font-weight-bold mb-2 mt-2 pb-1">
                                <%= trans.SCRIPT_CREATOR_BASIC %>
                            </h1>
                        </div>
                    </div>

                    <div class="row pt-5">
                        <div class="col-12">

                            <!-- Horizontal Steppers -->
                            <div class="row">
                                <div class="col-md-12">

                                    <!-- Stepers Wrapper -->
                                    <ul class="stepper stepper-horizontal">

                                        <!-- First Step -->
                                        <li class="active">
                                            <a href="#!">
                                                <span class="circle">1</span>
                                                <span class="label">
                                                    <%= trans.STEPPER_1 %></span>
                                            </a>
                                        </li>

                                        <!-- Second Step -->
                                        <li class="disabled">
                                            <a href="#!">
                                                <span class="circle">2</span>
                                                <span class="label">
                                                    <%= trans.STEPPER_2 %></span>
                                            </a>
                                        </li>

                                        <!-- Third Step -->
                                        <li class="disabled">
                                            <a href="#!">
                                                <span class="circle">3</span>
                                                <span class="label">
                                                    <%= trans.STEPPER_3 %></span>
                                            </a>
                                        </li>

                                        <!-- Third Step -->
                                        <li class="disabled">
                                            <a href="#!">
                                                <span class="circle">4</span>
                                                <span class="label">
                                                    <%= trans.STEPPER_4 %></span>
                                            </a>
                                        </li>

                                    </ul>
                                    <!-- /.Stepers Wrapper -->

                                </div>
                            </div>
                            <!-- /.Horizontal Steppers -->


                            <div id="step1" style="display:none;">
                                <div class="row">
                                    <div class="col-12 mb-5">
                                        <h2 class="font-weight-bold text-center">
                                            <%= trans.STEP_1 %> <span class="dark-grey-text font-weight-normal">
                                                <%= trans.STEP_1_DESC %></span></h2>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-3 col-6">
                                        <button type="button" class="btn btn-flat btn-lg btn-block px-0"><i class="fa fa-font fa-5x red-text"></i>
                                            <h4 class="red-text font-weight-bold text-center pt-3">Text</h4>
                                        </button>

                                    </div>
                                    <div class="col-md-3 col-6">
                                        <button type="button" class="btn btn-flat btn-lg btn-block px-0"><i class="fa fa-list fa-5x orange-text"></i>
                                            <h4 class="font-weight-bold text-center pt-3 orange-text">Random Text</h4>
                                        </button>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <button type="button" class="btn btn-flat btn-lg btn-block px-0"><i class="fa fa-image fa-5x green-text"></i>
                                            <h4 class="font-weight-bold text-center pt-3 green-text">Image</h4>
                                        </button>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <button type="button" class="btn btn-flat btn-lg btn-block px-0"><i class="fas fa-film fa-5x blue-text"></i>
                                            <h4 class="font-weight-bold text-center pt-3 blue-text">GIF</h4>
                                        </button>
                                    </div>
                                </div>
                            </div>



                            <div id="step2">
                                <div class="row">
                                    <div class="col-12 mb-5">
                                        <h2 class="font-weight-bold text-center">
                                            <%= trans.STEP_2 %> <span class="dark-grey-text font-weight-normal">
                                                <%= trans.STEP_2_DESC %></span></h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-5">
                                        <h2 class="font-weight-bold text-center">
                                            Command Information</h2>
                                    </div>
                                </div>
                                <div id="step2-info" class="row justify-content-center">
                                    <div class="col-10 col-md-6 mb-5">
                                        <div class="md-form form-lg">
                                            <input type="text" id="step2-title" placeholder="eg. My Awesome Command"
                                                class="form-control form-control-lg" required>
                                            <label for="step2-title">Title of your command</label>
                                        </div>
                                        <div class="md-form form-lg">
                                            <input type="text" id="step2-command" placeholder="eg. myfirstcommand"
                                                class="form-control form-control-lg" required>
                                            <label for="step2-command">Command Trigger</label>
                                        </div>
                                        <div class="md-form form-lg">
                                            <input type="text" id="step2-thumb" placeholder="eg. https://awesomo.feinwaru.com/img/feinwaru_logo.png"
                                                class="form-control form-control-lg">
                                            <label for="step2-thumb">Command Thumbnail (optional)</label>
                                        </div>
                                        <div class="md-form form-lg">
                                            <input type="checkbox" class="form-check-input" id="materialUnchecked">
                                            <label class="form-check-label" for="materialUnchecked">Make your command
                                                available on the Marketplace?</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-12 mb-5">
                                        <h2 class="font-weight-bold text-center">
                                            Command Contents</h2>
                                    </div>
                                </div>


                                <div class="row justify-content-center">
                                    <div class="col-10 col-md-6 mb-5">
                                        <div class="md-form form-lg form-inline text-center">
                                            <input type="text" id="die" class="form-control form-control-lg">
                                            <label for="die">Item 1</label>
                                            <a class="red-text pl-3 fa-lg"><i class="fas fa-close"></i></a>
                                        </div>
                                        <div class="md-form form-lg form-inline">
                                            <input type="text" id="die2" class="form-control form-control-lg">
                                            <label for="die2">Item 2</label>
                                            <a class="red-text pl-3 fa-lg"><i class="fas fa-close"></i></a>
                                        </div>
                                        <div class="md-form form-lg form-inline">
                                            <input type="text" id="die3" class="form-control form-control-lg">
                                            <label for="die3">Item 3</label>
                                            <a class="red-text pl-3 fa-lg"><i class="fas fa-close"></i></a>
                                        </div>
                                        <a class="btn btn-primary btn-rounded mx-auto">add another item</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <!--/Section: Pricing v.5-->
    <!-- Streak -->

    <%- include ../partials/footer.ejs %>

    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>

    <script>
        //Animation init
        new WOW().init();

        //Modal
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });

        // SideNav Button Initialization
        $(".button-collapse").sideNav();
        // SideNav Scrollbar Initialization
        var sideNavScrollbar = document.querySelector('.custom-scrollbar');
        Ps.initialize(sideNavScrollbar);

        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>


</body>

</html>