<!--Double navigation-->
<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav fixed feinwaru-dark">
    <ul class="custom-scrollbar">
        <!-- Logo -->
        <div class="logo-wrapper waves-light" style="border-style: none; height: 80px">
            <a href="#">
                <img src="/img/navbar_dash_logo.png" class="img-fluid flex-center px-4 py-4">

            </a>
        </div>
        <!--/. Logo -->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a href="/dashboard<%= trans.LANG %>" class="waves-effect">
                        <i class="fa fa-home"></i>
                        <%= trans.DASH_HOME %>
                    </a>

                </li>
                <li>
                    <a class="collapsible-header waves-effect">
                        <i class="fa fa-chart-bar"></i>
                        <%= trans.LEADERBOARDS %>
                    </a>
                    <div class="ml-4 pl-3">
                        <ul>
                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="fa fa-globe"></i>
                                    <%= trans.MAIN_LEADERBOARD %>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="fa fa-exclamation-circle"></i>
                                    <%= trans.SHIT_SCORE %>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- future update
                                
                                <li><a class="collapsible-header waves-effect"><i class="fa fa-share-alt"></i> Integrations</a>
                                <div class="ml-4 pl-3">
                                    <ul>
                                        <li><a href="#" class="waves-effect"><i class="fa fa-lastfm"></i> last.fm</a>
                                        </li>
                                        <li><a href="#" class="waves-effect"><i class="fa fa-steam"></i> Steam</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                
                            <li>
                    <a class="collapsible-header waves-effect">
                        <i class="fa fa-gavel"></i>
                        <%= trans.MODERATION %>
                    </a>
                    <div class="ml-4 pl-3">
                        <ul>
                            <li>
                                <a href="#" class="waves-effect pl-4">
                                    <i class="fa fa-code-branch"></i>
                                    <%= trans.ISSUE_TRACKER %>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="fa fa-binoculars"></i>
                                    <%= trans.WATCHLIST %>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                -->
                <li>
                    <a class="collapsible-header waves-effect">
                        <i class="fa fa-code"></i>Scripts</a>
                    <div class="ml-4 pl-2">
                        <ul>
                            <li>
                                <a href="/dashboard/scripts/marketplace<%= trans.LANG %>" class="waves-effect">
                                    <i class="fa fa-shopping-cart"></i>
                                    <%= trans.MARKETPLACE %>
                                </a>

                            </li>
                            <!--
                            <li>
                                <a href="/dashboard/scripts/manager<%= trans.LANG %>" class="waves-effect">
                                    <i class="fa fa-list"></i>
                                    <%= trans.SCRIPT_MANAGER %>
                                </a>
                            </li>-->
                            <li>
                                <a href="/dashboard/scripts/editor/basic<%= trans.LANG %>">
                                    <i class="fa fa-pencil-alt"></i>
                                    <%= trans.SCRIPT_CREATOR_BASIC %>
                                </a>
                            </li>
                            <li>
                                <a href="/dashboard/scripts/editor/advanced<%= trans.LANG %>">
                                    <i style="margin-right:13px" class="fab fa-node-js"></i> <%= trans.SCRIPT_CREATOR %>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/dashboard/patrons<%= trans.LANG %>" class="collapsible-header waves-effect">
                        <i class="fab fa-patreon" style="margin-right: 13px"></i>
                        <%= trans.PATRON_MANAGEMENT %>
                    </a>
                </li>
                <li>
                    <a class="collapsible-header waves-effect">
                        <i class="fa fa-database"></i>
                        <%= trans.AWESOMO_LEGACY_FEATURES %>
                    </a>
                    <div class="ml-4 pl-3">
                        <ul>

                            <li>
                                <p class="ml-3 pl-1 mb-0 mt-2" style="font-size: 10pt;">
                                    <b>AWESOM-O 2.0 Stats</b>
                                </p>
                            </li>
                            <li>
                                <a href="/dashboard/leaderboards/legacy/v2<%= trans.LANG %>#activity" class="waves-effect">Activity
                                    Scores</a>
                            </li>
                            <li>
                                <a href="/dashboard/leaderboards/legacy/v2<%= trans.LANG %>#shit" class="waves-effect">It
                                    Hits The Fan</a>
                            </li>
                            <li>
                                <p class="ml-3 pl-1 mb-0 mt-2" style="font-size: 10pt;">
                                    <b>AWESOM-O 1.0 Stats</b>
                                </p>
                            </li>
                            <li>
                                <a href="/dashboard/leaderboards/legacy/v1<%= trans.LANG %>#activity" class="waves-effect">Activity
                                    Scores</a>
                            </li>
                            <li>
                                <a href="/dashboard/leaderboards/legacy/v1<%= trans.LANG %>#shit" class="waves-effect">It
                                    Hits The Fan</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--/. Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
</div>
<!--/. Sidebar navigation -->
<!-- Navbar -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
    <!-- SideNav slide-out button -->
    <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <ul class="nav navbar-nav nav-flex-icons ml-3">
        <li class="nav-item">
            <a class="nav-link" href="/<%= trans.LANG %>">
                <i class="fa fa-chevron-left"></i>
                <b>
                    <%= trans.RETURN_TO_HOME %>
                </b>
                <span class="sr-only">(current)</span>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item avatar dropdown pr-2 mr-2">
            <a class="nav-link dropdown-toggle waves-effect waves-light rounded-circle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                <img id="selected-server" src="https://cdn.discordapp.com/icons/438701535208275978/c5bde67f9f079d283d39b3ae80f5292f.png"
                    class="rounded-circle z-depth-0" style="background-color: #333333;">
            </a>
            <div id="server-list" class="dropdown-menu dropdown-menu-right dropdown-feinwaru">
                <h6 class="font-weight-bold text-center" style="font-size: 0.9em">
                    <%= trans.SELECT_A_SERVER %>
                </h6>
            </div>
        </li>
        <li class="nav-item avatar dropdown pr-3 mr-2">
            <a class="nav-link dropdown-toggle waves-effect waves-light rounded-circle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                <img id="profile-img" class="rounded-circle z-depth-0">
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-feinwaru">
                <h6 class="font-weight-bold text-center" style="font-size: 0.9em">
                    <%= trans.LOGGED_IN_AS %>
                    <span id="username"></span>
                </h6>
                <a id="profile-link" class="dropdown-item waves-effect waves-light" href="">
                    <i class="fa fa-user"></i>
                    <%= trans.VIEW_PROFILE %>
                </a>
                <a class="dropdown-item waves-effect waves-light" href="#">
                    <i class="fa fa-sign-out"></i>
                    <%= trans.LOGOUT %>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#LangModal">
                <i class="fa fa-globe"></i>
                <b>
                    <%= trans.INITIALS %>
                </b>
            </a>
        </li>
    </ul>
</nav>

<!-- <img src="https://cdn.discordapp.com/icons/438701535208275978/c5bde67f9f079d283d39b3ae80f5292f.webp" class="rounded-circle z-depth-0"
                                        alt="there is supposed to be an image but dragon 🅱roke it" style="background-color: #333333;">-->
<!-- /.Navbar -->
<!--/.Double navigation-->
<%- include ../partials/langpicker.ejs %>

<script>
    "use strict";

function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    const guildsRequest = new XMLHttpRequest();
    guildsRequest.open("GET", "/api/v3/guilds/@me?extended=true", false);
    guildsRequest.send();

    let guildsYay;
    try {

        guildsYay = JSON.parse(guildsRequest.response);
    } catch (error) {

        toastr["error"](`failed to parse guilds json with error: ${error}`);
        throw `failed to parse guilds json with error: ${error}`;
    }

    switch (guildsYay.status) {
        case 200:
            console.log("loaded featured scripts");
            break;
        case 403:
            toastr["error"](`failed to fetch guilds: 403 forbidden`);
            throw "failed to fetch guilds: 403 forbidden";
            break;
        case 404:
            toastr["error"](`failed to fetch guilds: 404 not found`);
            throw "failed to fetch guilds: 404 not found";
            break;
        case 500:
            toastr["error"](`failed to fetch guilds: 500 internal server error`);
            throw "failed to fetch guilds: 500 internal server error";
            break;
        default:
            toastr["error"](`failed to fetch guilds: ${guildsRequest.response.status}`);
            throw `failed to fetch guilds: ${guildsRequest.response.status}`;
    }

    const userRequest = new XMLHttpRequest();
    userRequest.open("GET", "/api/v3/users/@me?extended=true", false);
    userRequest.send();

    let userYay;
    try {

        userYay = JSON.parse(userRequest.response);
    } catch (error) {

        toastr["error"](`failed to parse user json with error: ${error}`);
        throw `failed to parse user json with error: ${error}`;
    }

    switch (userYay.status) {
        case 200:
            console.log("loaded featured scripts");
            break;
        case 403:
            toastr["error"](`failed to fetch user: 403 forbidden`);
            throw "failed to fetch user: 403 forbidden";
            break;
        case 404:
            toastr["error"](`failed to fetch user: 404 not found`);
            throw "failed to fetch user: 404 not found";
            break;
        case 500:
            toastr["error"](`failed to fetch user: 500 internal server error`);
            throw "failed to fetch user: 500 internal server error";
            break;
        default:
            toastr["error"](`failed to fetch user: ${userRequest.response.status}`);
            throw `failed to fetch user: ${userRequest.response.status}`;
    }

    document.getElementById("username").innerText = userYay.user.username;
    document.getElementById("profile-link").href = "/dashboard/profiles/" + userYay.user.discord_id +
        "<%= trans.LANG %>";
    document.getElementById("profile-img").src = "https://cdn.discordapp.com/avatars/" + userYay.user.discord_id + "/" +
        userYay.user.avatar + ".png?size=128";

    const currentServer = getCookie("currentServer");
    const selectedServer = document.getElementById("selected-server");

    for (let i = 0; i < guildsYay.guilds.length; i++) {

        // in case the user is on no servers with awesomo
        if (currentServer === undefined || currentServer === null || currentServer === "") {

            document.cookie = "currentServer=" + guildsYay.guilds[0].discord_id;
            document.cookie = "currentServerName=" + guildsYay.guilds[0].name;
            selectedServer.src = "https://cdn.discordapp.com/icons/" + guildsYay.guilds[0].discord_id + "/" + guildsYay.guilds[0].icon + ".png";
        }

        if (guildsYay.guilds[i].discord_id === currentServer) {

            selectedServer.src = "https://cdn.discordapp.com/icons/" + guildsYay.guilds[i].discord_id + "/" + guildsYay.guilds[i].icon + ".png";
        }

        document.getElementById("server-list").innerHTML +=
            `
                <a id="${guildsYay.guilds[i].discord_id}" class="dropdown-item waves-effect waves-light server" href="<%= trans.LANG %>">
                    <img src="${"https://cdn.discordapp.com/icons/" + guildsYay.guilds[i].discord_id + "/" + guildsYay.guilds[i].icon + ".png"}" class="rounded-circle z-depth-0 mr-2"
                        style="background-color: #333333; height: 32px"> ${guildsYay.guilds[i].name}
                </a>
            `
    }
                
    const servers = document.getElementsByClassName("server");
    for (let i = 0; i < servers.length; i++) {

        servers[i].onclick = () => {

            document.cookie = "currentServer=" + servers[i].id;
            document.cookie = "currentServerName=" + servers[i].innerText.trim();
            window.reload();
        }
    }
</script>