
        <!--Double navigation-->
            <!-- Sidebar navigation -->
            <div id="slide-out" class="side-nav fixed feinwaru-dark">
                <ul class="custom-scrollbar">
                    <!-- Logo -->
                        <div class="logo-wrapper waves-light" style="border-style: none">
                            <a href="#"><img src="/img/navbarlogo.png" class="img-fluid flex-center"></a>
                        </div>
                    <!--/. Logo -->
                    <!-- Side navigation links -->
                    <li>
                        <ul class="collapsible collapsible-accordion">
                            <li><a class="waves-effect"><i class="fa fa-home"></i> Overview</a>
                                
                            </li>
                            <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-bar-chart"></i> Leaderboards<i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#" class="waves-effect">Activity Board</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">It Hits The Fan</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-share-alt"></i> Integrations<i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#" class="waves-effect"><i class="fa fa-lastfm"></i> last.fm</a>
                                        </li>
                                        <li><a href="#" class="waves-effect"><i class="fa fa-steam"></i> Steam</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-gavel"></i> Moderation<i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-code"></i>Commands<i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#" class="waves-effect"> Enabled Commands</a>
                                        </li>
                                        <li><a href="#" class="waves-effect"> Command Creator</a>
                                        </li>
                                        <li><a href="#" class="waves-effect"> Command Marketplace</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--/. Side navigation links -->
                </ul>
                <div class="sidenav-bg mask-strong"></div>
            </div>
            <!--/. Sidebar navigation -->
            <!-- Navbar -->
            <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
                <!-- SideNav slide-out button -->
                <div class="float-left">
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="navbar-nav ml-3">
                        <li class="nav-item">
                            <a class="nav-link" href="/<%= trans.LANG %>">
                                <%= trans.HOME %>
                                    <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard<%= trans.LANG %>">
                                <%= trans.DASHBOARD %>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/commands<%= trans.LANG %>">
                                <%= trans.COMMANDS %>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://blog.feinwaru.com">
                                <%= trans.BLOG %>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link yellow-text" href="https://patreon.com/awesomo">
                                <b>
                                    <%= trans.PREMIUM %>
                                </b>
                            </a>
                        </li>
                    </ul>
                <ul class="nav navbar-nav nav-flex-icons ml-auto">
                        <li class="nav-item avatar dropdown border-right pr-3 mr-2">
                                <a class="nav-link dropdown-toggle waves-effect waves-light rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img src="https://cdn.discordapp.com/avatars/<%= user_data.id %>/<%= user_data.avatar %>.png?size=128" class="rounded-circle z-depth-0"
                                        alt="there is supposed to be an image but dragon 🅱roke it">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-feinwaru">
                                    <h6 class="dropdown-item">
                                        <%= trans.LOGGED_IN_AS %>
                                            <%= user_data.username %>
                                    </h6>
                                    <a class="dropdown-item waves-effect waves-light" href="/dashboard/profiles/<%= user_data.id %><%= trans.LANG %>">
                                        <%= trans.VIEW_PROFILE %>
                                    </a>
                                    <a class="dropdown-item waves-effect waves-light" href="#">
                                        <%= trans.LOGOUT %>
                                    </a>
                                </div>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#LangModal">
                                <i class="fa fa-language"></i>
                            </a>
                        </li>
                    </ul>
            </nav>
            <!-- /.Navbar -->
        <!--/.Double navigation-->
    <!-- Select Language Modal -->
<div class="modal fade right" id="LangModal" tabindex="-1" role="dialog" aria-labelledby="LangModalAria" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right modal-notify modal-danger" role="document">
            <!--Content-->
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading lead">
                        <%= trans.SELECT_LANGUAGE %>
                    </p>
    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <div class="list-group">
                    <a href="?hl=en" class="list-group-item list-group-item-action waves-effect">
                        <img src="https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg" width="10%"> English
                    </a>
                    <a href="?hl=ie" class="list-group-item list-group-item-action waves-effect">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Flag_of_Ireland.svg" width="10%"> Gaeilge
                    </a>
                    <a href="?hl=pt" class="list-group-item list-group-item-action waves-effect">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg" width="10%"> Português
                    </a>
                </div>
    
            </div>
            <!--/.Content-->
        </div>
    </div>