
<footer class="page-footer font-small elegant-color-dark pt-0 gay">

    <div class="feinwaru">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">

                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text"><%= trans.GET_CONNECTED %></h6>
                </div>

                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <a class="fb-ic ml-0" href="https://facebook.com/feinwaru">
                        <i class="fab fa-facebook-f white-text mr-lg-4"> </i>
                    </a>

                    <a class="tw-ic" href="https://twitter.com/feinwaru">
                        <i class="fab fa-twitter white-text mr-lg-4"> </i>
                    </a>

                    <a class="github-ic" href="https://github.com/feinwarusoftware">
                        <i class="fab fa-github white-text mr-lg-4"> </i>
                    </a>

                    <a class="tumblr-ic" href="https://blog.feinwaru.com/">
                        <i class="fab fa-tumblr white-text mr-lg-4"> </i>
                    </a>

                    <a class="ins-ic" href="https://instagram.com/feinwaru">
                        <i class="fab fa-instagram white-text mr-lg-4"> </i>
                    </a>
                </div>


            </div>

        </div>
    </div>

    <div class="container mt-5 mb-4 text-center text-md-left">

        <div class="row mt-3">
            <div class="col-12 col-md-4 col-sm-6 mb-4 float-right">
                <img id="footerlogo" src="/img/footer_logo.png" class="img-fluid" alt="Feinwaru Logo">
            </div>
            <div class="col-4 col-md-3 col-sm-6 mb-4 mx-auto">
                <h6 class="text-uppercase font-weight-bold">
                    <strong><%= trans.FEINWARU_SOFTWARE %></strong>
                </h6>
                <hr class="feinwaru accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="https://feinwaru.com/ourteam"><%= trans.OUR_TEAM %></a>
                </p>
                <p>
                    <a href="https://feinwaru.com/projects"><%= trans.PROJECTS %></a>
                </p>
                <p>
                    <a href="https://feinwaru.com/branding"><%= trans.BRANDING %></a>
                </p>
                <p>
                    <a href="https://discord.feinwaru.com/"><%= trans.DISCORD %></a>
                </p>
            </div>
            <div class="col-4 col-md-2 col-sm-6 mb-4 mx-auto">
                <h6 class="text-uppercase font-weight-bold">
                    <strong><%= trans.AWESOMO %></strong>
                </h6>
                <hr class="feinwaru accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="/credits<%= trans.LANG %>"><%= trans.CREDITS %></a>
                </p>
                <p>
                    <a href="https://status.feinwaru.com"><%= trans.STATUS %></a>
                </p>
                <p>
                    <a href="https://patreon.com/awesomo"><%= trans.PATREON %></a>
                </p>
                <p>
                    <a href="https://github.com/feinwarusoftware/awesomobot"><%= trans.GITHUB %></a>
                </p>
            </div>
            <div class="col-4 col-md-3 col-sm-6 mb-4 mx-auto">
                <h6 class="text-uppercase font-weight-bold">
                    <strong><%= trans.RESOURCES %></strong>
                </h6>
                <hr class="feinwaru accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="/help<%= trans.LANG %>"><%= trans.HELP_AND_SUPPORT %></a>
                </p>
                <p>
                    <a href="/api/docs<%= trans.LANG %>"><%= trans.DEVELOPERS %></a>
                </p>
                <p>
                    <a href="/feedback<%= trans.LANG %>"><%= trans.FEEDBACK %></a>
                </p>
                <p>
                    <a href="/terms<%= trans.LANG %>"><%= trans.TERMS %></a> & <a href="/privacy<%= trans.LANG %>"><%= trans.PRIVACY %></a>
                </p>
            </div>
        </div>
    </div>

    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://feinwaru.awesomobot.com">
            <strong> <%= trans.FEINWARU_SOFTWARE %></strong>
        </a>
    </div>


</footer>

                      