<!DOCTYPE html>
<html class="full-height" lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O // Commands</title>
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap-->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Template styles-->
    <style>
        /* TEMPLATE STYLES */
        /* *{
            border-color: red;
            border-width: 1px;
            border-style: dashed;
        } */

        .undef {
            font-family: "Comic Sans MS";
        }

        .flex-center {
            color: #fff;
        }

        .intro-1 {
            background: url("img/awesomo-bg.jpg")no-repeat center center;
            background-size: cover;
        }

        .navbar .btn-group .dropdown-menu a:hover {
            color: #000 !important;
        }

        .navbar .btn-group .dropdown-menu a:active {
            color: #fff !important;
        }
        
        .role-hm {
            color: #2ecc71;
        }
        .role-nk {
            color: #e67e22;
        }
        .role-fp {
            color: #9b59aa;
        }
        .role-cf {
            color: #d20e0f;
        }
        .role-cm {
            color: #a11457;
        }
        .role-pc {
            color: #71368a;
        }
        .role-ya {
            color: #3595db;
        }
        .role-p {
            color: #F1C40F;
        }

    </style>
</head>

<body>
    <header>
        <!-- Navbar-->
        <% include partials/navbar %>
            <!-- /.Navbar-->
            <!-- Intro Section-->

            <!-- Main container-->
            <div class="container">
            <!--Page heading-->
            <div class="row wow fadeIn pt-5" data-wow-delay="0.2s">
                <div class="col-md-12 pt-5">
                    <h1 class="h1-responsive">Commands |
                        <small class="text-muted">All</small>
                    </h1>
                </div>
            </div>
            <!--/.Page heading-->

                <!-- Section: Status Cards-->
                <section id="status">

                </section>
                <!--Table-->
                <table class="table table-hover table-striped">
                    <thead class="indigo wow fadeIn" data-wow-delay="0.05s">
                        <tr style="color:white">
                            <th>Name</th>
                            <th>Desc</th>
                            <th>Usage</th>
                            <th>Minimum Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var i = 0.1; %>
                        <% commands.forEach(function(command) { %>
                            <% var tablecss; %>
                            <% if (command.disabled) { %>
                                <% tablecss = "table-danger"; %>
                            <% } else { %>
                                <% tablecss = ""; %>
                            <% } %>

                            <tr class="wow fadeIn <%= tablecss %>" data-wow-delay="<%= i %>s">
                                <th scope="row"><%= command.name %></th>
                                <td><%= command.desc %></td>
                                <td><%= command.usage %></td>

                                <% var rolestr = ""; %>
                                <% for (var j = 0; j < command.roles.length; j++) { %>
                                    <% rolestr += command.roles[j]; %>
                                <% } %>
                                
                                <% var rolecss; %>
                                <% if (rolestr.indexOf("@Hallway Monitors") != -1) { %>
                                    <% rolecss = "role-hm"; %>
                                    <% } else if (rolestr.indexOf("@New Kid") != -1) { %>
                                        <% rolecss = "role-nk"; %>
                                    <% } else if (rolestr.indexOf("@Freedom Pals") != -1) { %>
                                        <% rolecss = "role-fp"; %>  
                                    <% } else if (rolestr.indexOf("@Coon & Friends") != -1) { %>
                                        <% rolecss = "role-cf"; %>
                                    <% } else if (rolestr.indexOf("@Chaos Minions") != -1) { %>
                                        <% rolecss = "role-cm"; %>
                                    <% } else if (rolestr.indexOf("@PC Bros") != -1) { %>
                                        <% rolecss = "role-pc"; %>
                                    <% } else if (rolestr.indexOf("@Yaoi Artist") != -1) { %>
                                        <% rolecss = "role-ya"; %>   
                                    <% } else if (rolestr.indexOf("@Patrons") != -1) { %>
                                        <% rolecss = "role-p"; %>
                                <% } else { %>
                                    <% rolecss = ""; %>
                                <% } %>

                                <td class="font-weight-bold <%= rolecss %>"><%= rolestr %></td>
                            </tr>

                            <% i += 0.1; %>
                        <% }); %>
                    </tbody>
                </table>

            </div>
            <!-- / Main container-->
            <!-- Footer-->
            <% include partials/footer %>
                <!-- /.Footer-->
                <!-- SCRIPTS-->
                <!-- JQuery-->
                <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
                <!-- Bootstrap dropdown-->
                <script type="text/javascript" src="js/popper.min.js"></script>
                <!-- Bootstrap core JavaScript-->
                <script type="text/javascript" src="js/bootstrap.min.js"></script>
                <!-- MDB core JavaScript-->
                <script type="text/javascript" src="js/mdb.min.js"></script>
                <!-- Animations init-->
                <script>
                    new WOW().init();
                </script>

</body>

</html>