<!DOCTYPE html>
<html lang="en">

<head>
  <%- include partials/headers.ejs %>
  <title>AWESOM-O //
    <%= trans.DOCUMENTATION %>
  </title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">

  <style>
    html,
        body,
        header,
        .jarallax {
            height: 400px;
        }

        @media (max-width: 740px) {
            html,
            body,
            header,
            .view {
                height: 400px;
            }
        }

        .hljs {
          border-radius: 7px;
          padding: 1em;
        }

        #scrollspy {
          overflow-y: auto;
          max-height: calc(100vh - 120px);
        }

        #scrollspy .nav-item {
          width: 100%;
        }

        #scrollspy a {
          font-size: .8rem;
          font-weight: 400;
          line-height: 1.1rem;
          padding: 0 5px;
          margin-top: 3px;
          margin-bottom: 3px;
          color: black;
        }

#scrollspy li .active {
font-weight: 600;
}

.nav-pills.default-pills .nav-item a{
    border-color: #ff594f!important
}

h1,h2 {
    padding-top: 50px;
    cursor:default
}

#content h5, #content h6 {
  font-weight: 900;
}

p img {
  max-width: 100%;
  border-radius: 7px;
}

p em img {
  max-width: 100%;
  border-radius: 7px;
  padding-top: 50px;
}

#bigboiirow {
  margin-top: -50px
}

h1 a,h2 a {
  color: inherit;
}

h1 a:hover,h2 a:hover {
  color: inherit;
  opacity: 0.7;
}

.danger {
  background-color: #db4545;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
  border: solid 3px #c22f2f;
  
}

.warning {
  background-color: #e69131;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
  border: solid 3px #b6762d;
  
}

.success {
  background-color: #68be2f;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
  border: solid 3px #53a11f;
}

code {
  background-color: rgba(27,31,35,.05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
    color: inherit
}

    </style>
</head>

<body class="fixed-sn" data-spy="scroll" data-target="#scrollspy" data-offset="80">
  <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
  <%- include partials/dd-navbar.ejs %>



  <!-- Main content -->
  <main>

    <div class="container">
      <!-- Grid row -->
      <div id="bigboiirow" class="row pb-5">

        <!-- Grid column -->
        <div id="content" class="col-lg-9 col-md-12 mb-3">
          <%- md(doc); %>
        </div>

        <div class="col-lg-3 col-md-3 pt-5 border-left">
          <!--Scrollspy-->
          <div class="sticky">
            <div id="scrollspy">

              <!-- Links -->
              <ul id="toc" class="nav nav-pills
                default-pills smooth-scroll">

              </ul>
              <!-- Links-->

            </div>
            <!--Scrollspy-->
          </div>
        </div>
        <!-- Grid row -->

      </div>
  </main>

      <!--Modal: editing your page-->
      <div class="modal fade bottom show modal-content-clickable" id="modalPrompt" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" data-backdrop="false" style="padding-right: 17px; display: none;">
      <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document">
          <div class="modal-content">
              <div class="modal-body py-1 grey darken-2">
                  <div class="row d-flex justify-content-center align-items-center">
                      <p class="pt-3 pr-2 text-white">
                          There is no version of this documentation in your language. Redirected to English.
                      </p>
                      <a href="/docs/translate" type="button" class="btn btn-outline-white btn-md">
                          Translate this page
                      </a>
                      <a type="button" class="btn btn-outline-white btn-md" data-dismiss="modal">
                          <%= trans.DISMISS %>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--Modal: modalCookie-->

  <%- include partials/footer.ejs %>

  <!--/.Footer-->


  <!-- SCRIPTS -->

  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>

  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>

  <script>
    const noLang = <%= noLang %>;

    if (noLang === true){
      $('#modalPrompt').modal()
    }

    const h1 = $("#content h1")
    const h2 = $("#content h2")

    for (let h of h1) {
      $("#toc").append(
        `
      <li class="nav-item">
        <a class="nav-link" href="#${h.id}">${h.innerText}</a>
      </li>
      <ul class="nav ml-3" header="${h.id}"></ul>
      `
      )
    }

    for (let i of h2) {
      $(`[header=${$(i).prevAll("h1")[0].id}]`).append(
        `
      <li class="nav-item">
        <a class="nav-link" href="#${i.id}">${i.innerText}</a>
      </li>
      `
      )
    }

    $("h1, h2").mouseenter(function () {
        if ($(this).children().length > 1){
          return;
        }
        $(this).attr("og", $(this).html());
        $(this).html($(this).attr("og") + `<a href="#${$(this).attr("id")}"><i style="font-size: 15pt; transform: translateY(-6px)" class="far fa-link pl-3"></i></a>`);
    
    })

    $("h1, h2").mouseleave(function () {
      $(this).html($(this).attr("og"))
    })


    $(".sticky").sticky({
      topSpacing: 90,
      zIndex: 2,
      stopper: ".page-footer"
    });

    new WOW().init();

    //Modal
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus()
    })

    // Material Select Initialization
    $(document).ready(function () {
      $('.mdb-select').material_select();
    });

    // SideNav Button Initialization
    $(".button-collapse").sideNav();
    // SideNav Scrollbar Initialization
    var sideNavScrollbar = document.querySelector('.custom-scrollbar');
    Ps.initialize(sideNavScrollbar);

    // Tooltips Initialization
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

  <script>
    hljs.initHighlightingOnLoad();
  </script>

</body>

</html>