<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O //
        <%= trans.PREMIUM %>
    </title>

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#ff594f">

    <link rel="alternate" href="/" hreflang="x-default" />
    <link rel="alternate" href="/?hl=en" hreflang="en" />
    <link rel="alternate" href="/?hl=ie" hreflang="ie" />
    <link rel="alternate" href="/?hl=pt" hreflang="pt" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">

    <style>
        html,
        body,
        header,
        .jarallax {
            height: 400px;
        }

        @media (max-width: 740px) {
            html,
            body,
            header,
            .view {
                height: 400px;
            }
        }
    </style>
</head>

<body class="">
    <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <%- include partials/navbar.ejs %>

        <!-- Intro Section -->
        <div class="view jarallax" data-jarallax='{"speed": 0.5}' style="background: url('https://media.discordapp.net/attachments/379432139856412682/462737165806338058/abstract2.png');">
            <div class="mask">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row pt-5 mt-3">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <div class="text-center white-text">
                                <ul class="list-unstyled ">
                                    <li>
                                        <h1 class="display-4 mt-md-5 mt-lg-0 mb-5 font-weight-bold white-text">
                                            <strong>
                                                AWESOM-O
                                                <span class="orange-text">
                                                    <%= trans.PREMIUM %>
                                                </span>
                                            </strong>
                                        </h1>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </header>
        <!-- Navigation & Intro -->

        <!-- Main content -->
        <main>

            <div class="container">

                <!-- Section: About 1-->
                <section id="about" class="section about mt-0 mb-5 py-0">

                    <!-- Grid row -->
                    <div class="row pt-2 mt-5">

                        <!-- Grid column -->
                        <div class="col-lg-12 col-md-12 mb-3">
                            <%- md(premium); %>
                        </div>

                    </div>
                    <!-- Grid row -->
                    <div class="row">
                        <!--Section: Pricing v.5-->
                <section id="pricing" class="section pb-2">

                    <!--Secion heading-->
                    <h2 class="text-center mb-5 my-5 dark-grey-text font-weight-bold">
                        <%= trans.GET_AWESOMO %>
                            <span class="orange-text">
                                <%= trans.PREMIUM %>
                            </span>
                    </h2>
                    <ul class="nav md-pills nav-justified pills-feinwaru">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">
                                <%= trans.MONTHLY_SUBSCRIPTIONS %>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">
                                <%= trans.ONE_TIME_PAYMENTS %>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panels -->
                    <div class="tab-content">

                        <!--Panel 1-->
                        <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                            <br>

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <!--Card-->
                                    <div class="pricing-card naked-card">

                                        <!--Content-->
                                        <div class="card-body dark-grey-text">
                                            <h5 class="font-weight-bold mt-3">
                                                <%= trans.FRIENDS %>
                                            </h5>

                                            <!-- Price -->
                                            <div class="price pt-0">
                                                <h2 class="number purple-text-2 mb-0">1</h2>
                                            </div>
                                            <ul class="striped dark-grey-text">
                                                <li>
                                                    <%- md(trans.FRIENDS_ROLE); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.CUSTOM_COMMANDS); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.SUBSCRIBER_CHANNEL_ACCESS); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.EARLY_FEATURES); %>
                                                </li>
                                            </ul>
                                            <a class="btn feinwaru white-text btn-rounded">
                                                <%= trans.GET_AWESOMO %>
                                                    <%= trans.PREMIUM %>
                                            </a>
                                        </div>
                                    </div>
                                    <!--Card-->
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">

                                    <!-- Card -->
                                    <div class="card card-image" style="background-image: url('/img/awesomo-card.jpg');">

                                        <!-- Content -->
                                        <div class="text-white text-center pricing-card d-flex align-items-center rgba-gradient py-3 px-3">

                                            <!--Content-->
                                            <div class="card-body white-text">
                                                <h5 class="font-weight-bold mt-3">
                                                    <%= trans.SUPER_BEST_FRIENDS %>
                                                </h5>

                                                <!-- Price -->
                                                <div class="price pt-0">
                                                    <h2 class="number purple-text-2 mb-0">10</h2>
                                                </div>
                                                <ul class="striped white-text">
                                                    <li>
                                                        <%- md(trans.SBF_ROLE); %>
                                                    </li>
                                                    <li>
                                                        <%- md(trans.AWESOMO_BETA_2); %>
                                                    </li>
                                                    <li>
                                                        <%- md(trans.EARLIEST_ACCESS_TM); %>
                                                    </li>
                                                    <li>
                                                        <%- md(trans.API_ACCESS); %>
                                                    </li>
                                                </ul>
                                                <a class="btn btn-outline-white btn-rounded">
                                                    <%= trans.GET_AWESOMO %>
                                                        <%= trans.PREMIUM %>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Card-->
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <!--Card-->
                                    <div class="pricing-card naked-card">

                                        <!--Content-->
                                        <div class="card-body dark-grey-text">
                                            <h5 class="font-weight-bold">
                                                <%= trans.BEST_FRIENDS %>
                                            </h5>

                                            <!-- Price -->
                                            <div class="price pt-0">
                                                <h2 class="number mb-0">5</h2>
                                            </div>
                                            <!--/.Price-->
                                            <ul class="striped">
                                                <li>
                                                    <%- md(trans.BF_ROLE); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.AWESOMO_BETA); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.YOUR_NAME); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.LOWER_TIERS); %>
                                                </li>
                                            </ul>
                                            <a class="btn feinwaru white-text btn-rounded">
                                                <%= trans.GET_AWESOMO %>
                                                    <%= trans.PREMIUM %>
                                            </a>
                                        </div>

                                    </div>
                                    <!--Card-->
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                        </div>
                        <!--/.Panel 1-->

                        <!--Panel 2-->
                        <div class="tab-pane fade" id="panel2" role="tabpanel">
                            <br>

                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <!--Card-->
                                    <div class="pricing-card naked-card">

                                        <!--Content-->
                                        <div class="card-body dark-grey-text">
                                            <h5 class="font-weight-bold mt-3">
                                                <%= trans.FRIENDS %>
                                            </h5>

                                            <!-- Price -->
                                            <div class="pt-3">
                                                <table width="100%">
                                                    <col width="40%">
                                                    <col width="60%">
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$1</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 1
                                                                    <%= trans.MONTH %>
                                                                </span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$3</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 3
                                                                    <%= trans.MONTHS %>
                                                                </span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$5</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 6
                                                                    <%= trans.MONTHS %>
                                                                        <span class="badge green">$1 off</span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$10</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 12
                                                                    <%= trans.MONTHS %>
                                                                        <span class="badge green">$2 off</span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                            <ul class="striped dark-grey-text">
                                                <li>
                                                    <%- md(trans.FRIENDS_ROLE); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.CUSTOM_COMMANDS); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.SUBSCRIBER_CHANNEL_ACCESS); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.EARLY_FEATURES); %>
                                                </li>
                                            </ul>
                                            <a class="btn feinwaru white-text btn-rounded">
                                                <%= trans.GET_AWESOMO %>
                                                    <%= trans.PREMIUM %>
                                            </a>
                                        </div>
                                    </div>
                                    <!--Card-->
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">

                                    <!-- Card -->
                                    <div class="card card-image" style="background-image: url('/img/awesomo-card.jpg');">

                                        <!-- Content -->
                                        <div class="text-white text-center pricing-card d-flex align-items-center rgba-gradient py-3 px-3">

                                            <!--Content-->
                                            <div class="card-body white-text">
                                                <h5 class="font-weight-bold mt-3">
                                                    <%= trans.SUPER_BEST_FRIENDS %>
                                                </h5>

                                                <!-- Price -->
                                                <div class="pt-3">
                                                    <table width="100%">
                                                        <col width="35%">
                                                        <col width="65%">
                                                        <tr>
                                                            <td class="text-right">
                                                                <h2>
                                                                    <b>$10</b>
                                                                </h2>
                                                            </td>
                                                            <td class="text-left">
                                                                <h2>
                                                                    <span style="font-size: 1.2rem">/ 1
                                                                        <%= trans.MONTH %>
                                                                    </span>
                                                                </h2>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">
                                                                <h2>
                                                                    <b>$30</b>
                                                                </h2>
                                                            </td>
                                                            <td class="text-left">
                                                                <h2>
                                                                    <span style="font-size: 1.2rem">/ 3
                                                                        <%= trans.MONTHS %>
                                                                    </span>
                                                                </h2>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">
                                                                <h2>
                                                                    <b>$50</b>
                                                                </h2>
                                                            </td>
                                                            <td class="text-left">
                                                                <h2>
                                                                    <span style="font-size: 1.2rem">/ 6
                                                                        <%= trans.MONTHS %>
                                                                            <span class="badge green">$10 off</span>
                                                                </h2>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">
                                                                <h2>
                                                                    <b>$100</b>
                                                                </h2>
                                                            </td>
                                                            <td class="text-left">
                                                                <h2>
                                                                    <span style="font-size: 1.2rem">/ 12
                                                                        <%= trans.MONTHS %>
                                                                            <span class="badge green">$20 off</span>
                                                                </h2>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </div>
                                                <ul class="striped white-text">
                                                    <li>
                                                        <%- md(trans.SBF_ROLE); %>
                                                    </li>
                                                    <li>
                                                        <%- md(trans.AWESOMO_BETA_2); %>
                                                    </li>
                                                    <li>
                                                        <%- md(trans.EARLIEST_ACCESS_TM); %>
                                                    </li>
                                                    <li>
                                                        <%- md(trans.API_ACCESS); %>
                                                    </li>
                                                </ul>
                                                <a class="btn btn-outline-white btn-rounded">
                                                    <%= trans.GET_AWESOMO %>
                                                        <%= trans.PREMIUM %>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Card-->
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <!--Card-->
                                    <div class="pricing-card naked-card">

                                        <!--Content-->
                                        <div class="card-body dark-grey-text">
                                            <h5 class="font-weight-bold">
                                                <%= trans.BEST_FRIENDS %>
                                            </h5>

                                            <!-- Price -->
                                            <div class="pt-3">
                                                <table width="100%">
                                                    <col width="40%">
                                                    <col width="60%">
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$5</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 1
                                                                    <%= trans.MONTH %>
                                                                </span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$15</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 3
                                                                    <%= trans.MONTHS %>
                                                                </span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$25</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 6
                                                                    <%= trans.MONTHS %>
                                                                        <span class="badge green">$5 off</span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$50</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 12
                                                                    <%= trans.MONTHS %>
                                                                        <span class="badge green">$10 off</span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                            <!--/.Price-->
                                            <ul class="striped">
                                                <li>
                                                    <%- md(trans.BF_ROLE); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.AWESOMO_BETA); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.YOUR_NAME); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.LOWER_TIERS); %>
                                                </li>
                                            </ul>
                                            <a class="btn feinwaru white-text btn-rounded">
                                                <%= trans.GET_AWESOMO %>
                                                    <%= trans.PREMIUM %>
                                            </a>
                                        </div>

                                    </div>
                                    <!--Card-->
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                        </div>
                        <!--/.Panel 2-->

                    </div>


                </section>
                <!--/Section: Pricing v.5-->
                    </div>
                </section>
            </div>
        </main>

        <%- include partials/footer.ejs %>

            <!--/.Footer-->


            <!-- SCRIPTS -->

            <!-- JQuery -->
            <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="/js/popper.min.js"></script>

            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>

            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="/js/mdb.min.js"></script>

            <script>
                //Animation init
                new WOW().init();

                //Modal
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').focus()
                })

                // Material Select Initialization
                $(document).ready(function () {
                    $('.mdb-select').material_select();
                    $("#danger").addClass("feinwaru text-white px-3 text-center z-depth-1");
                });

                // SideNav Button Initialization
                $(".button-collapse").sideNav();
                // SideNav Scrollbar Initialization
                var sideNavScrollbar = document.querySelector('.custom-scrollbar');
                Ps.initialize(sideNavScrollbar);

                // Tooltips Initialization
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>

            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

            <script>
                hljs.initHighlightingOnLoad();
            </script>

</body>

</html>