<!DOCTYPE html>
<html class="full-height" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O // Dashboard</title>
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap-->
    <link href="../../css/mdb.min.css" rel="stylesheet">
    <!-- Template styles-->
    <style>
    /* TEMPLATE STYLES */

        //*{
        border-style: dashed;
        border-color: red;
        border-width: 1px;
    }
    */ .flex-center {
        color: #fff;
    }

    .intro-1 {
        background: url("../../img/awesomo-bg.jpg")no-repeat center center;
        background-size: cover;
    }

    .navbar .btn-group .dropdown-menu a:hover {
        color: #000 !important;
    }

    .navbar .btn-group .dropdown-menu a:active {
        color: #fff !important;
    }
    </style>

    <!-- Referencing Stuff -->
    <% var avatar = "https://cdn.discordapp.com/avatars/" + user.id + "/" + user.avatar + ".png?size=2048"%>




</head>

<body>
    <header>
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark elegant-color fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">AWESOM-O Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="info">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Donate</a>
                        </li>
                        <li class="nav-item btn-group">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <a href="auth/logout">
                            <button class="btn btn-sm align-middle btn-outline-yellow" type="button">Logout</button>
                        </a>
                    </form>
                </div>
            </div>
        </nav>

        <!-- Main container-->
        <div class="container">
            <div class="divider-new "></div>
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-12">

                    <img src="<%= avatar%>" class="z-depth-1 float-right" height="128px" alt="Responsive image">

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-8 col-md-6 mb-12">

                    <h2>Logged in as:
                        <b>
                            <%= user.username%>
                        </b>
                    </h2>
                    <h4>Moderating:
                        <b>
                            /r/SouthPark</b>
                    </h4>
                    <h4>Your Role:
                        <b>
                            Respect Ma Authoritah</b>
                    </h4>
                </div>
                <!-- Grid column -->
            </div>

            <!-- Grid row -->
            <div class="divider-new">
                <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Mod Notes</h2>
            </div>
            <!-- Section: Best features-->
            <!--
            <table class="table table-hover">
                <thead class="indigo wow fadeIn" data-wow-delay="0.4s">
                    <tr style="color:white">
                        <th>Created By</th>
                        <th>Name of Issue</th>
                        <th>Category</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="wow fadeIn" data-wow-delay="0.6s">
                        <th scope="row">Ya boi mattheous</th>
                        <td>get your shit sorted</td>
                        <td class="red-text">Needs done lol</td>
                        <td>mate i am having an anyeruism right now plz end my existence lol xddd kuhihikhuio uhi hiuh iuhfhsiou
                            fisufh is</td>
                    </tr>
                    <tr class="wow fadeIn" data-wow-delay="0.8s">
                        <th scope="row">ya boi dragon</th>
                        <td>Thornton</td>
                        <td class="orange-text">random name</td>
                        <td>@fat</td>
                    </tr>
                    <tr class="wow fadeIn" data-wow-delay="1s">
                        <th scope="row">faggles hehe xd</th>
                        <td>@twitter</td>
                        <td class="green-text">cant think</td>
                        <td>your ma lol</td>
                    </tr>
                </tbody>
            </table>
            -->

            <table class="table table-hover">
                <thead class="indigo wow fadeIn" data-wow-delay="0.4s">
                    <tr style="color:white">
                        <th>Created By</th>
                        <th>Name of Issue</th>
                        <th>Category</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% var i = 0.6; %>
                    <% server.issues.forEach(function(issue) { %>
                        <tr class="wow fadeIn" data-wow-delay="<%= i %>s">
                            <th scope="row"><%= issue.author %></th>
                            <td><%= issue.name %></td>
                            <td><%= issue.tag %></td>
                            <td><%= issue.desc %></td>
                        </tr>
                        <% i = i + 0.2; %>
                    <% }); %>
                </tbody>
            </table>

            <!-- Button trigger modal -->
            <div class="clearfix">
            <button type="button" class="btn btn-indigo float-right" data-toggle="modal" data-target="#newissue">
                Create new issue
            </button></div>
            <!-- Section: Contact-->
        </div>
        <!-- / Main container-->
        <!-- Footer-->
        <footer class="page-footer center-on-small-only elegant-color-dark">
            <!-- Footer Links-->
            <div class="container">
                <div class="row">
                    <hr class="w-100 clearfix d-sm-none">

                    <!-- Third column-->
                    <div class="col-lg-6 col-md-6 float-right">
                        <h5 class="title font-bold mt-3 mb-4">Resources</h5>
                        <ul>
                            <li>
                                <a href="#!">Status</a>
                            </li>
                            <li>
                                <a href="#!">Help & Support</a>
                            </li>
                            <li>
                                <a href="#!">Feedback</a>
                            </li>
                            <li>
                                <a href="#!">Terms</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.Third column-->
                    <hr class="w-100 clearfix d-sm-none">
                    <!-- Fourth column-->
                    <div class="col-lg-6 col-md-6 mx-auto">
                        <h5 class="title font-bold mt-3 mb-4">About</h5>
                        <ul>
                            <li>
                                <a href="#!">About</a>
                            </li>
                            <li>
                                <a href="#!">Fork on Github</a>
                            </li>
                            <li>
                                <a href="#!">Donate</a>
                            </li>
                            <li>
                                <a href="https://discord.gg/southpark">/r/SouthPark Discord</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.Fourth column-->
                </div>
            </div>
            <!-- /.Footer Links-->
            <hr>
            <!-- Call to action-->
            <div class="call-to-action">
                <ul>
                    <li>
                        <h5>Join the /r/SouthPark Discord</h5>
                    </li>
                    <li>
                        <a class="btn btn-indigo" target="_blank" href="https://discord.gg/southpark" rel="nofollow">Join Now!</a>
                    </li>
                </ul>
            </div>
            <!-- /.Call to action-->
            <!-- Copyright-->
            <div class="footer-copyright">
                <div class="container-fluid">© 2018 Copyright:
                    <a href="/"> AWESOM-O Industries </a>
                </div>
            </div>
            <!-- /.Copyright-->
        </footer>
        <!-- /.Footer-->
        <!-- SCRIPTS-->
        <!-- JQuery-->
        <script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap dropdown-->
        <script type="text/javascript" src="../../js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript-->
        <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript-->
        <script type="text/javascript" src="../../js/mdb.min.js"></script>

        <!-- Animations init-->
        <script>
            new WOW().init();
        </script>

    <!-- Central Modal Medium Info -->
    <div class="modal fade right" id="newissue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-warning modal-full-height modal-right" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">New issue</p>
        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
        
                    <!--Body-->
                    <div class="modal-body">
                        <!--
                        <div class="md-form">
                            <input type="text" id="orangeForm-name" class="form-control">
                            <label for="issue-username">Username</label>
                        </div>
                        <div class="md-form">
                            <input type="text" id="orangeForm-email" class="form-control">
                            <label for="issue-name">Name of Issue</label>
                        </div>
                    
                        <div class="md-form">
                            <input type="text" id="orangeForm-pass" class="form-control">
                            <label for="issue-category">Category</label>
                        </div>
                        
                        <div class="md-form">
                            <textarea type="text" id="form8" class="md-textarea" style="height: 100px"></textarea>
                            <label for="issue-description">Description</label>
                        </div>
                        -->

                        <!-- Form contact -->
                        <form class="my-issue-form" action="http://localhost/api/v1/servers/371762864790306817/issues" method="get">
                            <div class="md-form">
                                <input type="text" class="form-control">
                                <label>Author</label>
                            </div>
                        
                            <div class="md-form">
                                <input type="text" class="form-control">
                                <label>Name</label>
                            </div>
                        
                            <div class="md-form">
                                <input type="text" class="form-control">
                                <label>Tag</label>
                            </div>
                        
                            <div class="md-form">
                                <textarea type="text" class="md-textarea" style="height: 100px"></textarea>
                                <label>Desc</label>
                            </div>
                        
                            <div class="text-center">
                                <button class="btn btn-unique">Submit</button>
                            </div>
                        </form>
                        <!-- Form contact -->
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- Central Modal Medium Info-->
        
</body>

</html>