<!DOCTYPE html>
<html class="full-height" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png" />
    <title>AWESOM-O // Dashboard</title>
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap-->
    <link href="../css/mdb.min.css" rel="stylesheet">
    <!-- Template styles-->
    <style>
        /* TEMPLATE STYLES */

        .flex-center {
            color: #fff;
        }

        .intro-1 {
            background: url("img/awesomo-bg.jpg")no-repeat center center;
            background-size: cover;
        }

        .navbar .btn-group .dropdown-menu a:hover {
            color: #000 !important;
        }

        .navbar .btn-group .dropdown-menu a:active {
            color: #fff !important;
        }
    </style>

    <!-- Referencing Stuff -->
    <% var avatar = "https://cdn.discordapp.com/avatars/" + user.id + "/" + user.avatar + ".png?size=2048"%>

</head>

<body>
    <header>
        <!-- Navbar-->
        <% include ../partials/dnavbar %>

            <!-- Main container-->
            <div class="container">
                <div class="divider-new "></div>
                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-6 mb-12">

                        <img src="<%= avatar%>" class="z-depth-1 float-right" height="128px" alt="Responsive image">

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-8 col-md-6 mb-12">

                        <h2>Logged in as:
                            <b>
                                <%= user.username%>
                            </b>
                        </h2>
                        <h4>Viewing:
                            <b>No Server Selected</b>
                        </h4>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
                <div class="divider-new">
                    <h2 class="h2-responsive wow fadeIn">Select a Server</h2>
                </div>
                <!-- Section: Best features-->
                <section id="best-features">
                    <div class="row pt-3">
                        <!-- First columnn-->
                        <div class="col-lg-3 mb-r">
                            <!-- Card-->
                            <div class="card wow fadeIn">
                                <% user.guilds.forEach(function(guild) { %>
                                    <% if ((guild.permissions & 32) && (guild.bot == true)) { %>
                                        <!--Card image-->
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" width="100%" onerror=this.src="../img/serverplaceholder.png">
                                            <a href="http://localhost/dashboard/home/<%= guild.id %>">
                                                <div class="mask"></div>
                                            </a>
                                        </div>

                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title">
                                                <%= guild.name %>
                                            </h4>
                                        </div>
                            </div>
                            <% } %>
                                <% }); %>
                                    <!-- /.Card-->
                        </div>
                        <!-- First columnn-->
                    </div>
                </section>

            </div>
            </div>
            <!-- / Main container-->
            <!-- Footer-->
            <% include ../partials/footer %>
                <!-- /.Footer-->
                <!-- SCRIPTS-->
                <!-- JQuery-->
                <script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
                <!-- Bootstrap dropdown-->
                <script type="text/javascript" src="../../js/popper.min.js"></script>
                <!-- Bootstrap core JavaScript-->
                <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
                <!-- MDB core JavaScript-->
                <script type="text/javascript" src="../../js/mdb.min.js"></script>
                <!-- Animations init-->
                <script>
                    new WOW().init();
                </script>
</body>

</html>