<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O //
        <%= trans.COMMANDS %>
    </title>

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#ff594f">

    <link rel="alternate" href="/" hreflang="x-default" />
    <link rel="alternate" href="/?hl=en" hreflang="en" />
    <link rel="alternate" href="/?hl=ie" hreflang="ie" />
    <link rel="alternate" href="/?hl=pt" hreflang="pt" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <style>
        @media (max-width: 768px) {
            .navbar:not(.top-nav-collapse) {
                background: #ff594f !important;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: rgba(255, 89, 79, 1) !important;
            }
        }
        
        code {
            color: #ccc;
            background-color: #333;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px
        }
    </style>

</head>

<body class="">

    <%- include partials/navbar.ejs %>

        <main>

            <div class="container">
                <!--Page heading-->
                <div class="row wow fadeIn pt-5" data-wow-delay="0.2s">
                    <div class="col-md-12 pt-5">
                        <h2 class="text-center mb-5 my-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                            <%= trans.COMMANDS %>
                        </h2>
                    </div>
                </div>
                <!--/.Page heading-->
                <ul class="nav md-pills nav-justified pills-feinwaru">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab"><%= trans.UNIVERSAL_COMMANDS %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel2" role="tab"><%= trans.FEINWARU_COMMANDS %></a>
                    </li>
                </ul>

                <!-- Tab panels -->
                <div class="tab-content">

                    <!--Panel 1-->
                    <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                        <br>

                        <!--Table-->
                        <table class="table table-striped">
                            <col width="25%">
                            <col width="35%">
                            <col width="25%">
                            <col width="15%">
                            <thead class="feinwaru">

                                <tr style="color:white">
                                    <th><%= trans.NAME %></th>
                                    <th><%= trans.DESCRIPTION %></th>
                                    <th><%= trans.USAGE %></th>
                                    <th><%= trans.MINIMUM_ROLE %></th>
                                </tr>
                            </thead>
                            <tbody>
                                    <% for (let i = 0; i < trans.COMMANDS_DESC.length; i++) { %>
                                    <tr>
                                        <th scope=“row”>
                                            <h6><%- trans.COMMANDS_DESC[i].NAME %></h6>
                                        </th>
                                        <td><%- trans.COMMANDS_DESC[i].DESCRIPTION %></td>
                                        <td>
                                            <%- md(trans.COMMANDS_DESC[i].USAGE); %>
                                        </td>
                                        <td class="font-bold"><%- md(trans.COMMANDS_DESC[i].MINIMUM_ROLE); %></td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>

                    </div>
                    <!--/.Panel 1-->

                    <!--Panel 2-->
                    <div class="tab-pane fade" id="panel2" role="tabpanel">
                        <br>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat
                            ratione porro voluptate odit minima.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat
                            ratione porro voluptate odit minima.</p>

                    </div>
                    <!--/.Panel 2-->

                </div>


            </div>
            <!--/Section: Pricing v.5-->
            <!-- Streak -->

            <%- include partials/footer.ejs %>

                <!--/.Footer-->


                <!-- SCRIPTS -->

                <!-- JQuery -->
                <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

                <!-- Bootstrap tooltips -->
                <script type="text/javascript" src="/js/popper.min.js"></script>

                <!-- Bootstrap core JavaScript -->
                <script type="text/javascript" src="/js/bootstrap.min.js"></script>

                <!-- MDB core JavaScript -->
                <script type="text/javascript" src="/js/mdb.min.js"></script>

                <script type="text/javascript" src="/js/index.js"></script>

                <script>
                    //Animation init
                    new WOW().init();

                    //Modal
                    $('#myModal').on('shown.bs.modal', function () {
                        $('#myInput').focus()
                    })

                    // Material Select Initialization
                    $(document).ready(function () {
                        $('.mdb-select').material_select();
                    });
                </script>

</body>

</html>