<!DOCTYPE html>
<html lang="en">

<head>
        <%- include partials/headers.ejs %>
    <title>AWESOM-O //
        <%= trans.CREDITS %>
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">

    <style>
        html,
        body,
        header,
        .jarallax {
            height: 100%;
        }

        @media (max-width: 740px) {
            html,
            body,
            header,
            .view {
                height: 400px;
            }
        }
    </style>
</head>

<body class="">
    <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <%- include partials/navbar.ejs %>

        <!-- Intro Section -->
        <div class="view jarallax" data-jarallax='{"speed": 0.93}' style="background: url('https://cdn.discordapp.com/attachments/430447280932388865/479352693706719233/Finished2.png');">
            <div class="mask rgba-black-light">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row pt-5 mt-3">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <div class="text-center white-text">
                                <ul class="list-unstyled ">
                                    <li>
                                        <h1 class="display-4 mt-md-5 mt-lg-0 mb-5 font-weight-bold white-text animated fadeIn" style="animation-delay: 0s;">
                                            <strong>
                                                <%= trans.CREDITS %>
                                            </strong>
                                        </h1>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </header>
        <!-- Navigation & Intro -->

        <!-- Main content -->
        <main>

            <div class="container">

                <!--Section: Team-->
                <section class="section team-section pb-5 mb-4">

                    <!-- Secion heading -->
                    <h3 class="my-5 pt-4 text-center title font-weight-bold animated bounceIn" style="animation-delay: 0s;">
                        <strong>
                            <%= trans.DEVELOPERS %>
                        </strong>
                    </h3>
                    <!--Grid row-->
                    <div class="row mb-lg-4 text-center text-md-left">
                        <% for (let i = 0; i < credits.developers.length; i++) { %>
                            <!--Grid column-->
                            <div class="col-lg-6 pb-4 col-md-12 mb-1 animated bounceIn" style="animation-delay: <%= [i] / 10 %>s;">

                                <div class="col-md-6 float-left">
                                    <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                        <a href="/dashboard/profiles/<%= credits.developers[i].id %>">
                                            <img src="<%= credits.developers[i].image %>" class="rounded z-depth-1">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-6 float-right">
                                    <h4 style="margin-bottom: 0">
                                        <strong>
                                            <%= credits.developers[i].name %>
                                        </strong>
                                    </h4>
                                    <h6 id="<%- credits.developers[i].role %>" class="font-weight-bold grey-text rolename" style="margin-bottom: 0">

                                    </h6>
                                    <p class="grey-text">
                                        <%= credits.developers[i].caption %>
                                    </p>

                                    <a href="<%= credits.developers[i].socials[0].link %>" class="p-2 m-2 fa-lg <%= credits.developers[i].socials[0].ic %>-ic">
                                        <i class="fab fa-<%= credits.developers[i].socials[0].fa %>"></i>
                                    </a>
                                    <a href="<%= credits.developers[i].socials[1].link %>" class="p-2 m-2 fa-lg <%= credits.developers[i].socials[1].ic %>-ic">
                                        <i class="fab fa-<%= credits.developers[i].socials[1].fa %>"></i>
                                    </a>
                                    <a href="<%= credits.developers[i].socials[2].link %>" class="p-2 m-2 fa-lg <%= credits.developers[i].socials[2].ic %>-ic">
                                        <i class="fab fa-<%= credits.developers[i].socials[2].fa %>"></i>
                                    </a>
                                </div>

                            </div>
                            <!--Grid column-->
                            <% } %>
                    </div>
                    <!--Grid row-->

                </section>
                <!--Section: Team-->
                <!--Section: Team-->
                <section class="section team-section pb-1 mb-1">

                    <!-- Secion heading -->
                    <h3 class="my-5 pt-1 text-center title font-weight-bold animated bounceIn" style="animation-delay: 0.5s;">
                        <strong>
                            <%= trans.ARTISTS %>
                        </strong>
                    </h3>


                    <!--Grid row-->
                    <div class="row mb-lg-4 text-center text-md-left">
                        <% for (let i = 0; i < credits.artists.length; i++) { %>
                            <!--Grid column-->
                            <div class="col-lg-6 pb-4 col-md-12 mb-1 animated bounceIn" style="animation-delay: <%= [i] / 10 %>s;">

                                <div class="col-md-6 float-left">
                                    <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                        <a href="/dashboard/profiles/<%= credits.artists[i].id %>">
                                            <img src="<%= credits.artists[i].image %>" class="rounded z-depth-1">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-6 float-right">
                                    <h4 style="margin-bottom: 0">
                                        <strong>
                                            <%= credits.artists[i].name %>
                                        </strong>
                                    </h4>
                                    <h6 id="<%- credits.artists[i].role %>" class="font-weight-bold grey-text rolename" style="margin-bottom: 0">

                                    </h6>
                                    <p class="grey-text">
                                        <%- credits.artists[i].caption %>
                                    </p>
                                    

                                        <a href="<%= credits.artists[i].socials[0].link %>" class="p-2 m-2 fa-lg <%= credits.artists[i].socials[0].ic %>-ic">
                                            <i class="fab fa-<%= credits.artists[i].socials[0].fa %>"></i>
                                        </a>
                                        <a href="<%= credits.artists[i].socials[1].link %>" class="p-2 m-2 fa-lg <%= credits.artists[i].socials[1].ic %>-ic">
                                            <i class="fab fa-<%= credits.artists[i].socials[1].fa %>"></i>
                                        </a>
                                        <a href="<%= credits.artists[i].socials[2].link %>" class="p-2 m-2 fa-lg <%= credits.artists[i].socials[2].ic %>-ic">
                                            <i class="fab fa-<%= credits.artists[i].socials[2].fa %>"></i>
                                        </a>
                                </div>

                            </div>
                            <!--Grid column-->
                            <% } %>
                    </div>
                    <!--Grid row-->

                </section>
                <!--Section: Team-->
                <!--Section: Team-->
                <section class="section team-section pb-2 mb-2">

                    <!-- Secion heading -->
                    <h3 class="my-5 pt-1 text-center title font-weight-bold animated bounceIn" style="animation-delay: 0.8s;">
                        <strong>
                            <%= trans.TRANSLATORS %>
                        </strong>
                    </h3>
                    <!--Grid row-->
                    <div class="row mb-lg-4 text-center text-md-left">
                        <% for (let i = 0; i < credits.translators.length; i++) { %>
                            <!--Grid column-->
                            <div class="col-lg-6 pb-4 col-md-12 mb-1 animated bounceIn" style="animation-delay: <%= [i] / 10 %>s;">

                                <div class="col-md-6 float-left">
                                    <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                        <a href="/dashboard/profiles/<%= credits.translators[i].id %>">
                                            <img src="<%= credits.translators[i].image %>" class="rounded z-depth-1">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-6 float-right">
                                    <h4 style="margin-bottom: 0">
                                        <strong>
                                            <%= credits.translators[i].name %>
                                        </strong>
                                    </h4>
                                    <h6 id="<%- credits.translators[i].role %>" class="font-weight-bold grey-text rolename" style="margin-bottom: 0">

                                    </h6>
                                    <p class="grey-text">
                                        <%= credits.translators[i].caption %>
                                    </p>
                                    

                                        <a href="<%= credits.translators[i].socials[0].link %>" class="p-2 m-2 fa-lg <%= credits.translators[i].socials[0].ic %>-ic">
                                            <i class="fab fa-<%= credits.translators[i].socials[0].fa %>"></i>
                                        </a>
                                        <a href="<%= credits.translators[i].socials[1].link %>" class="p-2 m-2 fa-lg <%= credits.translators[i].socials[1].ic %>-ic">
                                            <i class="fab fa-<%= credits.translators[i].socials[1].fa %>"></i>
                                        </a>
                                        <a href="<%= credits.translators[i].socials[2].link %>" class="p-2 m-2 fa-lg <%= credits.translators[i].socials[2].ic %>-ic">
                                            <i class="fab fa-<%= credits.translators[i].socials[2].fa %>"></i>
                                        </a>
                                </div>

                            </div>
                            <!--Grid column-->
                            <% } %>
                    </div>
                    <!--Grid row-->
                </section>
                <!--Section: Team-->
            </div>
        </main>

        <%- include partials/footer.ejs %>

            <!--/.Footer-->


            <!-- SCRIPTS -->

            <!-- JQuery -->
            <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="/js/popper.min.js"></script>

            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>

            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="/js/mdb.min.js"></script>

            <script>
                new WOW().init();

                //Modal
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').focus()
                })

                // Material Select Initialization
                $(document).ready(function () {
                    $('.mdb-select').material_select();
                    $("#danger").addClass("feinwaru text-white px-3 text-center z-depth-1");

                });
                // Tooltips Initialization
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>

            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

            <script>
                hljs.initHighlightingOnLoad();

                $("#BACKEND_DEV").text("<%= trans.BACKEND_DEV %>");
                $("#FRONTEND_DEV").text("<%= trans.FRONTEND_DEV %>");
                $("#COMMUNITY_MANAGER").text("<%= trans.COMMUNITY_MANAGER %>");
                $("#PD_COMMANDS").text("<%= trans.PD_COMMANDS %>");
                $("#AWESOMO_PORTRAIT").text("<%= trans.AWESOMO_PORTRAIT %>");
                $("#AWESOMO_404").text("<%= trans.AWESOMO_404 %>");
                $("#MARKETPLACE_ART").text("<%= trans.MARKETPLACE_ART %>");
                $("#BOT_ART").text("<%= trans.BOT_ART %>");
                
                $("#PORTUGESE_TRANSLATION").text("<%= trans.PORTUGESE_TRANSLATION %>");
                $("#CHINESE_TRANSLATION").text("<%= trans.CHINESE_TRANSLATION %>");
                $("#ROMANIAN_TRANSLATION").text("<%= trans.ROMANIAN_TRANSLATION %>");
                $("#POLISH_TRANSLATION").text("<%= trans.POLISH_TRANSLATION %>");
                $("#GERMAN_TRANSLATION").text("<%= trans.GERMAN_TRANSLATION %>");
                $("#SPANISH_TRANSLATION").text("<%= trans.SPANISH_TRANSLATION %>");
                $("#FRENCH_AND_IRISH_TRANSLATION").text("<%= trans.FRENCH_AND_IRISH_TRANSLATION %>");
            </script>

</body>

</html>