<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/headers.ejs %>
    <title>AWESOM-O // <%= trans.CREDITS %>

    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">

    <style>
        html,
        body,
        header,
        .jarallax {
            height: 100%;
        }

        @media (max-width: 740px) {
            html,
            body,
            header,
            .view {
                height: 400px;
            }
        }
    </style>
</head>

<body class="">
    <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <%- include partials/navbar.ejs %>

    <!-- Intro Section -->
    <div class="view jarallax" data-jarallax='{"speed": 0.93}' style="background: url('https://cdn.discordapp.com/attachments/508629797421973504/547568411274903582/unknown.png');">
        <div class="mask rgba-black-light">
            <div class="container h-100 d-flex justify-content-center align-items-center">
                <div class="row pt-5 mt-3">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="text-center white-text">
                            <ul class="list-unstyled ">
                                <li>
                                    <h1 class="display-4 mt-md-5 mt-lg-0 mb-5 font-weight-bold white-text animated fadeIn"
                                        style="animation-delay: 0s;">
                                        <strong>
                                            <%= trans.CREDITS %>
                                        </strong>
                                    </h1>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </header>
    <!-- Navigation & Intro -->

    <!-- Main content -->
    <main>

        <div class="container">

            <!--Section: Team-->
            <section class="section team-section pb-5 mb-4">

                <!-- Secion heading -->
                <h3 class="my-5 pt-4 text-center title font-weight-bold animated bounceIn" style="animation-delay: 0s;">
                    <strong>
                        Developers
                    </strong>
                </h3>
                <!--Grid row-->
                <div class="row mb-lg-4 text-center text-md-left">
                    <% for (let i = 0; i < credits.developers.length; i++) { %>
                    <!--Grid column-->
                    <div class="col-lg-6 pb-4 col-md-12 mb-1 animated bounceIn" style="animation-delay: <%= [i] / 10 %>s;">

                        <div class="col-md-6 float-left">
                            <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                <a href="/dashboard/profiles/<%= credits.developers[i].id %>">
                                    <img src="<%= credits.developers[i].image %>" class="rounded z-depth-1">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 float-right">
                            <h4 style="margin-bottom: 0">
                                <strong>
                                    <%= credits.developers[i].name %>
                                </strong>
                            </h4>
                            <h6 class="font-weight-bold grey-text rolename" style="margin-bottom: 0">
                                <%- credits.developers[i].role %>
                            </h6>
                            <p class="grey-text">
                                <%= credits.developers[i].caption %>
                            </p>

                            <a href="<%= credits.developers[i].socials[0].link %>" class="p-2 m-2 fa-lg <%= credits.developers[i].socials[0].ic %>-ic">
                                <i class="fab fa-<%= credits.developers[i].socials[0].fa %>"></i>
                            </a>
                            <a href="<%= credits.developers[i].socials[1].link %>" class="p-2 m-2 fa-lg <%= credits.developers[i].socials[1].ic %>-ic">
                                <i class="fab fa-<%= credits.developers[i].socials[1].fa %>"></i>
                            </a>
                            <a href="<%= credits.developers[i].socials[2].link %>" class="p-2 m-2 fa-lg <%= credits.developers[i].socials[2].ic %>-ic">
                                <i class="fab fa-<%= credits.developers[i].socials[2].fa %>"></i>
                            </a>
                        </div>

                    </div>
                    <!--Grid column-->
                    <% } %>
                </div>
                <!--Grid row-->

            </section>
            <!--Section: Team-->
            <!--Section: Team-->
            <section class="section team-section pb-2 mb-2">

                <!-- Secion heading -->
                <h3 class="my-5 pt-1 text-center title font-weight-bold animated bounceIn" style="animation-delay: 0.8s;">
                    <strong>
                        Translators
                    </strong>
                </h3>
                <!--Grid row-->
                <div class="row mb-lg-4 text-center text-md-left">
                    <% for (let i = 0; i < credits.translators.length; i++) { %>
                    <!--Grid column-->
                    <div class="col-lg-6 pb-4 col-md-12 mb-1 animated bounceIn" style="animation-delay: <%= [i] / 10 %>s;">

                        <div class="col-md-6 float-left">
                            <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                <a href="/dashboard/profiles/<%= credits.translators[i].id %>">
                                    <img src="<%= credits.translators[i].image %>" class="rounded z-depth-1">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 float-right">
                            <h4 style="margin-bottom: 0">
                                <strong>
                                    <%= credits.translators[i].name %>
                                </strong>
                            </h4>
                            <h6 class="font-weight-bold grey-text rolename" style="margin-bottom: 0">
                                <%- credits.translators[i].role %>
                            </h6>
                            <p class="grey-text">
                                <%= credits.translators[i].caption %>
                            </p>


                            <a href="<%= credits.translators[i].socials[0].link %>" class="p-2 m-2 fa-lg <%= credits.translators[i].socials[0].ic %>-ic">
                                <i class="fab fa-<%= credits.translators[i].socials[0].fa %>"></i>
                            </a>
                            <a href="<%= credits.translators[i].socials[1].link %>" class="p-2 m-2 fa-lg <%= credits.translators[i].socials[1].ic %>-ic">
                                <i class="fab fa-<%= credits.translators[i].socials[1].fa %>"></i>
                            </a>
                            <a href="<%= credits.translators[i].socials[2].link %>" class="p-2 m-2 fa-lg <%= credits.translators[i].socials[2].ic %>-ic">
                                <i class="fab fa-<%= credits.translators[i].socials[2].fa %>"></i>
                            </a>
                        </div>

                    </div>
                    <!--Grid column-->
                    <% } %>
                </div>
                <!--Grid row-->
            </section>
            <!--Section: Team-->
            <!--Section: Team-->
            <section class="section team-section pb-1 mb-1">

                <!-- Secion heading -->
                <h3 class="my-5 pt-1 text-center title font-weight-bold animated bounceIn" style="animation-delay: 0.5s;">
                    <strong>
                        Contributors
                    </strong>
                </h3>


                <!--Grid row-->
                <div class="row mb-lg-4 text-center text-md-left">
                    <% for (let i = 0; i < credits.contributors.length; i++) { %>
                    <!--Grid column-->
                    <div class="col-lg-6 pb-4 col-md-12 mb-1 animated bounceIn" style="animation-delay: <%= [i] / 10 %>s;">

                        <div class="col-md-6 float-left">
                            <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                <a href="/dashboard/profiles/<%= credits.contributors[i].id %>">
                                    <img src="<%= credits.contributors[i].image %>" class="rounded z-depth-1">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 float-right">
                            <h4 style="margin-bottom: 0">
                                <strong>
                                    <%= credits.contributors[i].name %>
                                </strong>
                            </h4>
                            <h6 class="font-weight-bold grey-text rolename" style="margin-bottom: 0">
                                <a style="color: inherit;" href="<%= credits.contributors[i].role_link %>"><%- credits.contributors[i].role %></a>
                            </h6>
                            <p class="grey-text">
                                <%- credits.contributors[i].caption %>
                            </p>


                            <a href="<%= credits.contributors[i].socials[0].link %>" class="p-2 m-2 fa-lg <%= credits.contributors[i].socials[0].ic %>-ic">
                                <i class="fab fa-<%= credits.contributors[i].socials[0].fa %>"></i>
                            </a>
                            <a href="<%= credits.contributors[i].socials[1].link %>" class="p-2 m-2 fa-lg <%= credits.contributors[i].socials[1].ic %>-ic">
                                <i class="fab fa-<%= credits.contributors[i].socials[1].fa %>"></i>
                            </a>
                            <a href="<%= credits.contributors[i].socials[2].link %>" class="p-2 m-2 fa-lg <%= credits.contributors[i].socials[2].ic %>-ic">
                                <i class="fab fa-<%= credits.contributors[i].socials[2].fa %>"></i>
                            </a>
                        </div>

                    </div>
                    <!--Grid column-->
                    <% } %>
                </div>
                <!--Grid row-->

            </section>
            <!--Section: Team-->
        </div>
    </main>

    <%- include partials/footer.ejs %>

    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>

    <script>
        new WOW().init();

        //Modal
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
            $("#danger").addClass("feinwaru text-white px-3 text-center z-depth-1");

        });
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

    <script>
        hljs.initHighlightingOnLoad();
    </script>

</body>

</html>