<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O //
        <%= trans.CREDITS %>
    </title>

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#ff594f">

    <link rel="alternate" href="/" hreflang="x-default" />
    <link rel="alternate" href="/?lang=en" hreflang="en" />
    <link rel="alternate" href="/?lang=ie" hreflang="ie" />
    <link rel="alternate" href="/?lang=pt" hreflang="pt" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">

    <style>
        html,
        body,
        header,
        .jarallax {
            height: 400px;
        }

        @media (max-width: 740px) {
            html,
            body,
            header,
            .view {
                height: 400px;
            }
        }

        a,
        a:active,
        a:visited {
            color: #ff594f;
        }

        a:hover {
            color: #d1433c;
        }
    </style>
</head>

<body class="">
    <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <%- include partials/navbar.ejs %>

        <!-- Intro Section -->
        <div class="view jarallax" data-jarallax='{"speed": 0.5}' style="background: url('https://media.discordapp.net/attachments/379432139856412682/462737165806338058/abstract2.png');">
            <div class="mask">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row pt-5 mt-3">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <div class="text-center white-text">
                                <ul class="list-unstyled ">
                                    <li>
                                        <h1 class="display-4 mt-md-5 mt-lg-0 mb-5 font-weight-bold white-text animated fadeIn" style="animation-delay: 0s;">
                                            <strong>
                                                <%= trans.CREDITS %>
                                            </strong>
                                        </h1>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </header>
        <!-- Navigation & Intro -->

        <!-- Main content -->
        <main>

            <div class="container">

                <!--Section: Team-->
                <section class="section team-section pb-5 mb-4">

                    <!-- Secion heading -->
                    <h3 class="my-5 pt-4 text-center title font-weight-bold animated bounceIn" style="animation-delay: 0s;">
                        <strong>
                            <%= trans.DEVELOPERS %>
                        </strong>
                    </h3>
                    <!--Grid row-->
                    <div class="row mb-lg-4 text-center text-md-left">

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12 mb-1 animated bounceIn" style="animation-delay: 0.1s;">

                            <div class="col-md-6 float-left">
                                <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                    <img src="https://cdn.discordapp.com/attachments/379432139856412682/462725985356218368/Gai2.png" class="rounded z-depth-1">
                                </div>
                            </div>

                            <div class="col-md-6 float-right">
                                <h4>
                                    <strong>Dragon1320</strong>
                                </h4>
                                <h6 class="font-weight-bold grey-text mb-4">
                                    <%= trans.BACKEND_DEV %>
                                </h6>
                                <p class="grey-text">
                                    <%= trans.DRAGON_DESC %>
                                </p>

                                <a href="https://github.com/dragon1320" class="p-2 m-2 fa-lg git-ic">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="https://reddit.com/u/dragon1320" class="p-2 m-2 fa-lg reddit-ic">
                                    <i class="fa fa-reddit-alien"> </i>
                                </a>
                            </div>

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12 mb-5 animated bounceIn" style="animation-delay: 0.2s;">

                            <div class="col-md-6 float-left">
                                <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                    <img src="https://cdn.discordapp.com/attachments/379432139856412682/462726578783256578/yaboi.jpg" class="rounded z-depth-1">
                                </div>
                            </div>

                            <div class="col-md-6 float-right">
                                <h4>
                                    <strong>Mattheous</strong>
                                </h4>
                                <h6 class="font-weight-bold grey-text mb-4">
                                    <%= trans.FRONTEND_DEV %>
                                </h6>
                                <p class="grey-text">
                                    <%= trans.MATT_DESC %>
                                </p>

                                <a href="https://github.com/mattheousdt" class="p-2 m-2 fa-lg git-ic">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="https://reddit.com/u/redditmattheous" class="p-2 m-2 fa-lg reddit-ic">
                                    <i class="fa fa-reddit-alien"> </i>
                                </a>
                                <a href="https://twitter.com/feinwaru" class="p-2 m-2 fa-lg tw-ic">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row text-center text-md-left">

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12 mb-2 animated bounceIn" style="animation-delay: 0.3s;">

                            <div class="col-md-6 float-left">
                                <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                    <img src="https://cdn.discordapp.com/attachments/379432139856412682/462726052280533003/Gai1.png" class="rounded z-depth-1">
                                </div>
                            </div>

                            <div class="col-md-6 float-right">
                                <h4>
                                    <strong>TowelRoyale</strong>
                                </h4>
                                <h6 class="font-weight-bold grey-text mb-4">
                                    <%= trans.ASSISTANT_BACKEND_DEV %>
                                </h6>
                                <p class="grey-text">
                                    <%= trans.TOWEL_DESC %>
                                </p>

                                <a href="https://github.com/towelroyale" class="p-2 m-2 fa-lg git-ic">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="https://reddit.com/u/smashroyaleyt" class="p-2 m-2 fa-lg reddit-ic">
                                    <i class="fa fa-reddit-alien"> </i>
                                </a>
                                <a href="https://twitter.com/smashroyaleyt" class="p-2 m-2 fa-lg tw-ic">
                                    <i class="fa fa-twitter"></i>
                                </a>

                            </div>

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12 mb-2 animated bounceIn" style="animation-delay: 0.4s;">
                            <div class="col-md-6 float-left">
                                <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" class="rounded z-depth-1">
                                </div>
                            </div>

                            <div class="col-md-6 float-right">
                                <h4>
                                    <strong>Umustalldie2</strong>
                                </h4>
                                <h6 class="font-weight-bold grey-text mb-4">
                                    <%= trans.PD_COMMANDS %>
                                </h6>
                                <p class="grey-text">
                                    <%= trans.UMUSTALL_DESC %>
                                </p>

                                <!--Google +-->
                                <a class="p-2 m-2 fa-lg gplus-ic">
                                    <i class="fa fa-google-plus"> </i>
                                </a>
                                <!--LinkedIn-->
                                <a class="p-2 m-2 fa-lg li-ic">
                                    <i class="fa fa-linkedin"> </i>
                                </a>
                                <!--Email-->
                                <a class="p-2 m-2 fa-lg email-ic">
                                    <i class="fa fa-envelope"> </i>
                                </a>
                            </div>

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </section>
                <!--Section: Team-->
                <!--Section: Team-->
                <section class="section team-section pb-1 mb-1">

                    <!-- Secion heading -->
                    <h3 class="my-5 pt-1 text-center title font-weight-bold animated bounceIn" style="animation-delay: 0.5s;">
                        <strong>
                            <%= trans.ARTISTS %>
                        </strong>
                    </h3>
                    <!--Grid row-->
                    <div class="row mb-lg-4 text-center text-md-left">

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12 mb-2 animated bounceIn" style="animation-delay: 0.6s;">

                            <div class="col-md-6 float-left">
                                <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                    <img src="https://cdn.discordapp.com/attachments/379432139856412682/462753926089801748/unknown.png" class="rounded z-depth-1">
                                </div>
                            </div>

                            <div class="col-md-6 float-right">
                                <h4>
                                    <strong>Phinbella-Flynn</strong>
                                </h4>
                                <h6 class="font-weight-bold grey-text mb-4">
                                    <%= trans.AWESOMO_PORTRAIT %>
                                </h6>
                                <p class="grey-text">
                                    <%= trans.PHIN_DESC %>
                                </p>

                                <a href="https://github.com/dragon1320" class="p-2 m-2 fa-lg git-ic">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="https://reddit.com/u/dragon1320" class="p-2 m-2 fa-lg reddit-ic">
                                    <i class="fa fa-reddit-alien"> </i>
                                </a>
                            </div>

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12 mb-2 animated bounceIn" style="animation-delay: 0.7s;">

                            <div class="col-md-6 float-left">
                                <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                    <img src="https://pbs.twimg.com/profile_images/1011689993771913217/K8iMI1pB.jpg" class="rounded z-depth-1">
                                </div>
                            </div>

                            <div class="col-md-6 float-right">
                                <h4>
                                    <strong>Fennwayz</strong>
                                </h4>
                                <h6 class="font-weight-bold grey-text mb-4">
                                    <%= trans.AWESOMO_404 %>
                                </h6>
                                <p class="grey-text">
                                    <%= trans.FENNY_DESC %>
                                </p>

                                <a href="https://github.com/mattheousdt" class="p-2 m-2 fa-lg git-ic">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="https://reddit.com/u/redditmattheous" class="p-2 m-2 fa-lg reddit-ic">
                                    <i class="fa fa-reddit-alien"> </i>
                                </a>
                                <a href="https://twitter.com/feinwaru" class="p-2 m-2 fa-lg tw-ic">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>

                        </div>
                        <!--Grid column-->

                    </div>

                </section>
                <!--Section: Team-->
                <!--Section: Team-->
                <section class="section team-section pb-2 mb-2">

                    <!-- Secion heading -->
                    <h3 class="my-5 pt-1 text-center title font-weight-bold animated bounceIn" style="animation-delay: 0.8s;">
                        <strong>
                            <%= trans.TRANSLATORS %>
                        </strong>
                    </h3>
                    <!--Grid row-->
                    <div class="row mb-lg-4 text-center text-md-left">

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12 mb-5 animated bounceIn" style="animation-delay: 0.9s;">

                            <div class="col-md-6 float-left">
                                <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                    <img src="https://cdn.discordapp.com/attachments/379432139856412682/462950191595782154/unknown.png" class="rounded z-depth-1">
                                </div>
                            </div>

                            <div class="col-md-6 float-right">
                                <h4>
                                    <strong>Tweeno</strong>
                                </h4>
                                <h6 class="font-weight-bold grey-text mb-4">
                                    <%= trans.PORTUGESE_TRANSLATION %>
                                </h6>
                                <p class="grey-text">
                                    <%= trans.TWEENO_DESC %>
                                </p>

                                <a href="https://github.com/dragon1320" class="p-2 m-2 fa-lg git-ic">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="https://reddit.com/u/dragon1320" class="p-2 m-2 fa-lg reddit-ic">
                                    <i class="fa fa-reddit-alien"> </i>
                                </a>
                            </div>

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12 mb-5 animated bounceIn" style="animation-delay: 1s;">

                            <div class="col-md-6 float-left">
                                <div class="avatar mx-auto mb-md-0 mb-4 float-right">
                                    <img src="https://pbs.twimg.com/profile_images/1011689993771913217/K8iMI1pB.jpg" class="rounded z-depth-1">
                                </div>
                            </div>

                            <div class="col-md-6 float-right">
                                <h4>
                                    <strong>Tweek Tweak</strong>
                                </h4>
                                <h6 class="font-weight-bold grey-text mb-4">
                                    <%= trans.CHINESE_TRANSLATION %>
                                </h6>
                                <p class="grey-text">
                                    <%= trans.TWEAK_DESC %>
                                </p>

                                <a href="https://github.com/mattheousdt" class="p-2 m-2 fa-lg git-ic">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="https://reddit.com/u/redditmattheous" class="p-2 m-2 fa-lg reddit-ic">
                                    <i class="fa fa-reddit-alien"> </i>
                                </a>
                                <a href="https://twitter.com/feinwaru" class="p-2 m-2 fa-lg tw-ic">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>

                        </div>
                        <!--Grid column-->

                    </div>

                </section>
                <!--Section: Team-->
            </div>
        </main>

        <%- include partials/footer.ejs %>

            <!--/.Footer-->


            <!-- SCRIPTS -->

            <!-- JQuery -->
            <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="/js/popper.min.js"></script>

            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>

            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="/js/mdb.min.js"></script>

            <script>
                new WOW().init();

                //Modal
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').focus()
                })

                // Material Select Initialization
                $(document).ready(function () {
                    $('.mdb-select').material_select();
                    $("#danger").addClass("feinwaru text-white px-3 text-center z-depth-1");
                });

                // SideNav Button Initialization
                $(".button-collapse").sideNav();
                // SideNav Scrollbar Initialization
                var sideNavScrollbar = document.querySelector('.custom-scrollbar');
                Ps.initialize(sideNavScrollbar);

                // Tooltips Initialization
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>

            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

            <script>
                hljs.initHighlightingOnLoad();
            </script>

</body>

</html>