<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O //
        <%= trans.HOME %>
    </title>

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#ff594f">

    <link rel="alternate" href="/" hreflang="x-default" />
    <link rel="alternate" href="/?hl=en" hreflang="en" />
    <link rel="alternate" href="/?hl=ie" hreflang="ie" />
    <link rel="alternate" href="/?hl=pt" hreflang="pt" />
    <link rel="stylesheet" href="/css/odometer-theme-default.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <style>
        .navbar:not(.top-nav-collapse) {
            background: transparent !important;
        }

        @media (max-width: 768px) {
            .navbar:not(.top-nav-collapse) {
                background: #ff594f !important;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: rgba(255, 89, 79, 1) !important;
            }
        }

        .anchor {
            padding-top: 50px;
        }
    </style>

</head>

<body class="">

    <!-- Main navigation -->
    <header>
        <%- include partials/navbar.ejs %>

        <!-- Full Page Intro -->
        <div class="view jarallax" data-jarallax='{"speed": 0.5}' style="background: url('https://media.discordapp.net/attachments/379432139856412682/462737165806338058/abstract2.png');">
            <!-- Mask & flexbox options-->
            <div class="mask d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-7 white-text text-center text-md-center mt-lg-5 mb-5 wow fadeInLeft pt-4 smooth-scroll"
                            data-wow-delay="0.3s">
                            <img class="img-fluid mt-lg-5 pt-5" src="/img/headerlogo.png">
                            <br>
                            <a href="#learnmore" class="btn btn-outline-white btn-rounded">
                                <%= trans.LEARN_MORE %>
                            </a>
                            <a class="btn btn-white btn-rounded btn_login_discord">
                                <%= trans.LOGIN %>
                            </a>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-5 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                            <img src="/img/headerphone.png" alt="" class="img-fluid">
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->
    <!-- Main content -->
    <main>

        <div id="learnmore" class="container anchor">


            <!-- Section: Features v.4 -->
            <section id="features" class="section feature-box mb-5 pb-4">

                <!-- Section heading -->
                <h3 class="text-center title my-5 dark-grey-text font-weight-bold">
                    <strong id="featurehead">
                        <%= trans.FULLY_FEATURED %>
                    </strong>
                </h3>
                <!-- Grid row -->
                <div class="row features-small">

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12">
                        <!-- Grid row -->
                        <div id="feature1" class="row mb-3">
                            <div class="col-2">
                                <i class="fa fa-code feinwaru-text fa-2x"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="font-weight-bold title">
                                    <%= trans.CUSTOM_SCRIPTS %>
                                </h5>
                                <p class="grey-text">
                                    <%- md(trans.CUSTOM_SCRIPTS_DESC); %>
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div id="feature2" class="row mb-3">
                            <div class="col-2">
                                <i class="fa fa-question feinwaru-text fa-2x"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="font-weight-bold title">
                                    <%= trans.SURVEYS %>
                                </h5>
                                <p class="grey-text">
                                    <%- md(trans.SURVEYS_DESC); %>
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div id="feature3" class="row">
                            <div class="col-2">
                                <i class="fa fa-line-chart feinwaru-text fa-2x"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="font-weight-bold title">
                                    <%= trans.ANALYTICS %>
                                </h5>
                                <p class="grey-text">
                                    <%- md(trans.ANALYTICS_DESC); %>
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12 mb-1 text-center text-md-left">
                        <img id="featureimg" src="https://cdn.discordapp.com/attachments/430447280932388865/474253854465196042/headerawesomo.png"
                            alt="" class="z-depth-0 img-fluid">
                    </div>
                    <!-- Grid column -->

                    <!-- Third column -->
                    <div class="col-lg-4 col-md-12">
                        <!-- Grid row -->
                        <div id="feature4" class="row mb-3">
                            <div class="col-2">
                                <i class="fa fa-gamepad feinwaru-text fa-2x"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="font-weight-bold title">
                                    <%= trans.PD_CARDS %>
                                </h5>
                                <p class="grey-text">
                                    <%- md(trans.PD_CARDS_DESC); %>
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div id="feature5" class="row mb-3">
                            <div class="col-2">
                                <i class="fa fa-music feinwaru-text fa-2x"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="font-weight-bold title">
                                    <%= trans.MUSIC %>
                                </h5>
                                <p class="grey-text">
                                    <%- md(trans.MUSIC_DESC); %>
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div id="feature6" class="row">
                            <div class="col-2">
                                <i class="fa fa-users feinwaru-text fa-2x"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="font-weight-bold title">
                                    <%= trans.PROFILES %>
                                </h5>
                                <p class="grey-text">
                                    <%- md(trans.PROFILES_DESC); %>
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->
                    </div>
                    <!-- Third column -->
                </div>
                <!-- Grid row -->
                <!-- Section sescription -->
                <p class="text-center w-responsive pt-3 mx-auto grey-text">
                    <%= trans.MANY_MORE %>
                </p>
            </section>
            <!-- Section: Features v.4 -->

        </div>
        <!-- Streak -->
        <div class="view jarallax" data-jarallax='{"speed": 0.5}' style="background: url('/img/awesomo-bg.jpg');height: 300px">
            <div class="flex-center rgba-gradient">
                <div class="container">

                    <!-- Section heading -->
                    <h3 class="text-center mb-5 pb-4 white-text font-weight-bold">
                        <strong>
                            <%= trans.FACTS %>
                        </strong>
                    </h3>

                    <!--First row-->
                    <div class="row text-center">

                        <!--First column-->

                        <div class="col-md-3 mb-2">
                            <a href="https://status.feinwaru.com/780641651">
                                <h1 class="white-text mb-1 font-weight-bold">
                                    <span id="uptimeplaceholder">
                                        <div class="preloader-wrapper small active">
                                            <div class="spinner-layer spinner-yellow-only">
                                                <div class="circle-clipper left">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="gap-patch">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="circle-clipper right">
                                                    <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </span>%</h1>
                                <p class="white-text">
                                    <%= trans.UPTIME %>
                                </p>
                            </a>
                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-md-3 mb-2">
                            <h1 class="white-text mb-1 font-weight-bold">
                                <span class="odometer" id="usersplaceholder">
                                    0
                                </span>
                            </h1>
                            <p class="white-text">
                                <%= trans.ACTIVE_USERS %>
                            </p>
                        </div>
                        <!--/Second column-->

                        <!--Third column-->
                        <div class="col-md-3 mb-2">
                            <h1 class="white-text mb-1 font-weight-bold">
                                <span class="odometer" id="serversplaceholder">
                                    0
                                </span>
                            </h1>
                            <p class="white-text">
                                <%= trans.SERVERS %>
                            </p>
                        </div>
                        <!--/Third column-->

                        <!--Fourth column-->
                        <div class="col-md-3">
                            <h1 class="white-text mb-1 font-weight-bold">
                                <span class="odometer" id="locplaceholder">
                                    0
                                </span>
                            </h1>
                            <p class="white-text">
                                <%= trans.LINES_OF_CODE %>
                            </p>
                        </div>
                        <!--/Fourth column-->

                    </div>
                    <!--First row-->

                </div>
            </div>
        </div>

        <div class="container-fluid background-grey">
            <div class="container">
                <!-- Section: Testimonials v.1 -->
                <section id="testimonials" class="section mb-0">

                    <!-- Section heading -->
                    <h2 class="text-center mb-5 my-5 dark-grey-text font-weight-bold">
                        <%= trans.OUR_SUBSCRIBERS %>
                    </h2>

                    <!--First slide-->
                    <div class="carousel-item active">
                        <!-- Grid row -->
                        <div id="patrons" class="row mt-1-half mb-4 justify-content-center">

                        </div>
                        <!-- Grid row -->
                    </div>
                </section>
                <!-- Section: Testimonials v.1 -->
                <!--Section: Pricing v.5-->
                <section id="pricing" class="section pb-2">

                    <!--Secion heading-->
                    <h2 class="text-center mb-5 my-5 dark-grey-text font-weight-bold">
                        <%= trans.GET_AWESOMO %>
                        <span class="orange-text">
                            <%= trans.PREMIUM %>
                        </span>
                    </h2>
                    <ul class="nav md-pills nav-justified pills-feinwaru">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">
                                <%= trans.MONTHLY_SUBSCRIPTIONS %>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">
                                <%= trans.ONE_TIME_PAYMENTS %>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panels -->
                    <div class="tab-content">

                        <!--Panel 1-->
                        <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                            <br>

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <!--Card-->
                                    <div class="pricing-card naked-card">

                                        <!--Content-->
                                        <div class="card-body dark-grey-text">
                                            <h5 class="font-weight-bold mt-3">
                                                <%= trans.FRIENDS %>
                                            </h5>

                                            <!-- Price -->
                                            <div class="price pt-0">
                                                <h2 class="number purple-text-2 mb-0">1</h2>
                                            </div>
                                            <ul class="striped dark-grey-text">
                                                <li>
                                                    <%- md(trans.FRIENDS_ROLE); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.CUSTOM_COMMANDS); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.SUBSCRIBER_CHANNEL_ACCESS); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.EARLY_FEATURES); %>
                                                </li>
                                            </ul>
                                            <a class="btn feinwaru white-text btn-rounded">
                                                <%= trans.GET_AWESOMO %>
                                                <%= trans.PREMIUM %>
                                            </a>
                                        </div>
                                    </div>
                                    <!--Card-->
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">

                                    <!-- Card -->
                                    <div class="card card-image" style="background-image: url('/img/awesomo-card.jpg');">

                                        <!-- Content -->
                                        <div class="text-white text-center pricing-card d-flex align-items-center rgba-gradient py-3 px-3">

                                            <!--Content-->
                                            <div class="card-body white-text">
                                                <h5 class="font-weight-bold mt-3">
                                                    <%= trans.SUPER_BEST_FRIENDS %>
                                                </h5>

                                                <!-- Price -->
                                                <div class="price pt-0">
                                                    <h2 class="number purple-text-2 mb-0">10</h2>
                                                </div>
                                                <ul class="striped white-text">
                                                    <li>
                                                        <%- md(trans.SBF_ROLE); %>
                                                    </li>
                                                    <li>
                                                        <%- md(trans.AWESOMO_BETA_2); %>
                                                    </li>
                                                    <li>
                                                        <%- md(trans.EARLIEST_ACCESS_TM); %>
                                                    </li>
                                                    <li>
                                                        <%- md(trans.API_ACCESS); %>
                                                    </li>
                                                </ul>
                                                <a class="btn btn-outline-white btn-rounded">
                                                    <%= trans.GET_AWESOMO %>
                                                    <%= trans.PREMIUM %>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Card-->
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <!--Card-->
                                    <div class="pricing-card naked-card">

                                        <!--Content-->
                                        <div class="card-body dark-grey-text">
                                            <h5 class="font-weight-bold">
                                                <%= trans.BEST_FRIENDS %>
                                            </h5>

                                            <!-- Price -->
                                            <div class="price pt-0">
                                                <h2 class="number mb-0">5</h2>
                                            </div>
                                            <!--/.Price-->
                                            <ul class="striped">
                                                <li>
                                                    <%- md(trans.BF_ROLE); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.AWESOMO_BETA); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.YOUR_NAME); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.LOWER_TIERS); %>
                                                </li>
                                            </ul>
                                            <a class="btn feinwaru white-text btn-rounded">
                                                <%= trans.GET_AWESOMO %>
                                                <%= trans.PREMIUM %>
                                            </a>
                                        </div>

                                    </div>
                                    <!--Card-->
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                        </div>
                        <!--/.Panel 1-->

                        <!--Panel 2-->
                        <div class="tab-pane fade" id="panel2" role="tabpanel">
                            <br>

                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <!--Card-->
                                    <div class="pricing-card naked-card">

                                        <!--Content-->
                                        <div class="card-body dark-grey-text">
                                            <h5 class="font-weight-bold mt-3">
                                                <%= trans.FRIENDS %>
                                            </h5>

                                            <!-- Price -->
                                            <div class="pt-3">
                                                <table width="100%">
                                                    <col width="40%">
                                                    <col width="60%">
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$1</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 1
                                                                    <%= trans.MONTH %>
                                                                </span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$3</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 3
                                                                    <%= trans.MONTHS %>
                                                                </span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$5</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 6
                                                                    <%= trans.MONTHS %>
                                                                    <span class="badge green">$1 off</span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$10</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 12
                                                                    <%= trans.MONTHS %>
                                                                    <span class="badge green">$2 off</span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                            <ul class="striped dark-grey-text">
                                                <li>
                                                    <%- md(trans.FRIENDS_ROLE); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.CUSTOM_COMMANDS); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.SUBSCRIBER_CHANNEL_ACCESS); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.EARLY_FEATURES); %>
                                                </li>
                                            </ul>
                                            <a class="btn feinwaru white-text btn-rounded">
                                                <%= trans.GET_AWESOMO %>
                                                <%= trans.PREMIUM %>
                                            </a>
                                        </div>
                                    </div>
                                    <!--Card-->
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">

                                    <!-- Card -->
                                    <div class="card card-image" style="background-image: url('/img/awesomo-card.jpg');">

                                        <!-- Content -->
                                        <div class="text-white text-center pricing-card d-flex align-items-center rgba-gradient py-3 px-3">

                                            <!--Content-->
                                            <div class="card-body white-text">
                                                <h5 class="font-weight-bold mt-3">
                                                    <%= trans.SUPER_BEST_FRIENDS %>
                                                </h5>

                                                <!-- Price -->
                                                <div class="pt-3">
                                                    <table width="100%">
                                                        <col width="35%">
                                                        <col width="65%">
                                                        <tr>
                                                            <td class="text-right">
                                                                <h2>
                                                                    <b>$10</b>
                                                                </h2>
                                                            </td>
                                                            <td class="text-left">
                                                                <h2>
                                                                    <span style="font-size: 1.2rem">/ 1
                                                                        <%= trans.MONTH %>
                                                                    </span>
                                                                </h2>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">
                                                                <h2>
                                                                    <b>$30</b>
                                                                </h2>
                                                            </td>
                                                            <td class="text-left">
                                                                <h2>
                                                                    <span style="font-size: 1.2rem">/ 3
                                                                        <%= trans.MONTHS %>
                                                                    </span>
                                                                </h2>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">
                                                                <h2>
                                                                    <b>$50</b>
                                                                </h2>
                                                            </td>
                                                            <td class="text-left">
                                                                <h2>
                                                                    <span style="font-size: 1.2rem">/ 6
                                                                        <%= trans.MONTHS %>
                                                                        <span class="badge green">$10 off</span>
                                                                </h2>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">
                                                                <h2>
                                                                    <b>$100</b>
                                                                </h2>
                                                            </td>
                                                            <td class="text-left">
                                                                <h2>
                                                                    <span style="font-size: 1.2rem">/ 12
                                                                        <%= trans.MONTHS %>
                                                                        <span class="badge green">$20 off</span>
                                                                </h2>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </div>
                                                <ul class="striped white-text">
                                                    <li>
                                                        <%- md(trans.SBF_ROLE); %>
                                                    </li>
                                                    <li>
                                                        <%- md(trans.AWESOMO_BETA_2); %>
                                                    </li>
                                                    <li>
                                                        <%- md(trans.EARLIEST_ACCESS_TM); %>
                                                    </li>
                                                    <li>
                                                        <%- md(trans.API_ACCESS); %>
                                                    </li>
                                                </ul>
                                                <a class="btn btn-outline-white btn-rounded">
                                                    <%= trans.GET_AWESOMO %>
                                                    <%= trans.PREMIUM %>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Card-->
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <!--Card-->
                                    <div class="pricing-card naked-card">

                                        <!--Content-->
                                        <div class="card-body dark-grey-text">
                                            <h5 class="font-weight-bold">
                                                <%= trans.BEST_FRIENDS %>
                                            </h5>

                                            <!-- Price -->
                                            <div class="pt-3">
                                                <table width="100%">
                                                    <col width="40%">
                                                    <col width="60%">
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$5</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 1
                                                                    <%= trans.MONTH %>
                                                                </span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$15</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 3
                                                                    <%= trans.MONTHS %>
                                                                </span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$25</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 6
                                                                    <%= trans.MONTHS %>
                                                                    <span class="badge green">$5 off</span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">
                                                            <h2>
                                                                <b>$50</b>
                                                            </h2>
                                                        </td>
                                                        <td class="text-left">
                                                            <h2>
                                                                <span style="font-size: 1.2rem">/ 12
                                                                    <%= trans.MONTHS %>
                                                                    <span class="badge green">$10 off</span>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                            <!--/.Price-->
                                            <ul class="striped">
                                                <li>
                                                    <%- md(trans.BF_ROLE); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.AWESOMO_BETA); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.YOUR_NAME); %>
                                                </li>
                                                <li>
                                                    <%- md(trans.LOWER_TIERS); %>
                                                </li>
                                            </ul>
                                            <a class="btn feinwaru white-text btn-rounded">
                                                <%= trans.GET_AWESOMO %>
                                                <%= trans.PREMIUM %>
                                            </a>
                                        </div>

                                    </div>
                                    <!--Card-->
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                        </div>
                        <!--/.Panel 2-->

                    </div>


                </section>
                <!--/Section: Pricing v.5-->

            </div>
        </div>
        <!--/Section: Pricing v.5-->
        <!-- Streak -->

        <%- include partials/footer.ejs %>

        <!--/.Footer-->


        <!-- SCRIPTS -->

        <!-- JQuery -->
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="/js/popper.min.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>

        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="/js/mdb.min.js"></script>

        <script type="text/javascript" src="/js/script.js"></script>

        <script type="text/javascript" src="/js/odometer.min.js"></script>

        <script>
            //Animation init
            new WOW().init();

            //Modal
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })

            // Material Select Initialization
            $(document).ready(function () {
                $('.mdb-select').material_select();
            });

            const uptime = new XMLHttpRequest();
            uptime.open("GET", `/api/v3/uptime`, false);
            uptime.send();
            const uptimeyay = JSON.parse(uptime.response);
            $("#uptimeplaceholder").html(Math.round(uptimeyay.uptime));

            const stats = new XMLHttpRequest();
            stats.open("GET", `/api/v3/stats`, false);
            stats.send();
            const statsyay = JSON.parse(stats.response);
            $("#usersplaceholder").html(statsyay.members);
            $("#serversplaceholder").html(statsyay.guilds);

            setInterval(function () {
                const stats = new XMLHttpRequest();
                stats.open("GET", `/api/v3/stats`, false);
                stats.send();
                const statsyay = JSON.parse(stats.response);
                $("#usersplaceholder").html(statsyay.members);
                $("#serversplaceholder").html(statsyay.guilds);
            }, 15000);

            $("#featurehead").mouseenter(function () {
                $("#featureimg").fadeOut(100, () => {
                    $("#featureimg").attr("src",
                        "https://cdn.discordapp.com/attachments/430447280932388865/474253854465196042/headerawesomo.png"
                    );
                    $("#featureimg").fadeIn(100)
                })
            });

            $("#feature1").mouseenter(function () {
                $("#featureimg").fadeOut(100, () => {
                    $("#featureimg").attr("src", "img/feature1.png");
                    $("#featureimg").fadeIn(100)
                })
            });
            $("#feature2").mouseenter(function () {
                $("#featureimg").fadeOut(100, () => {
                    $("#featureimg").attr("src", "img/feature2.png");
                    $("#featureimg").fadeIn(100)
                })
            });
            $("#feature3").mouseenter(function () {
                $("#featureimg").fadeOut(100, () => {
                    $("#featureimg").attr("src", "img/feature3.png");
                    $("#featureimg").fadeIn(100)
                })
            });
            $("#feature4").mouseenter(function () {
                $("#featureimg").fadeOut(100, () => {
                    $("#featureimg").attr("src", "img/feature4.png");
                    $("#featureimg").fadeIn(100)
                })
            });
            $("#feature5").mouseenter(function () {
                $("#featureimg").fadeOut(100, () => {
                    $("#featureimg").attr("src", "img/feature5.png");
                    $("#featureimg").fadeIn(100)
                })
            });
            $("#feature6").mouseenter(function () {
                $("#featureimg").fadeOut(100, () => {
                    $("#featureimg").attr("src", "img/feature6.png");
                    $("#featureimg").fadeIn(100)
                })
            });

            const getpatrons = new XMLHttpRequest();
            getpatrons.open("GET", `/api/v3/patrons`, false);
            getpatrons.send();
            let patronsyay = JSON.parse(getpatrons.response);
            const patronlist = $("#patrons");

            patronsyay = patronsyay.filter(e => e.amount >= 5);
            patronsyay.sort((a, b) => b.amount - a.amount);
            
            for (let patron of patronsyay) {
                patronlist.append(
                    `
                                        <!-- Grid column  -->
                                            <div class="col-lg-4 col-md-12 mt-2">


                                                <!-- Card -->
                                                <div class="card card-image mb-3 mx-auto" style="background-image: url(${patron.avatar});">

                                                    <!-- Content -->
                                                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                                        <div class="mx-auto">
                                                            <h5 class="feinwaru-text">
                                                                <b id="subamount">
                                                                    <%- trans.SUBSCRIBER_AMOUNT %>
                                                                </b>
                                                            </h5>
                                                            <h3 class="card-title">
                                                                <strong>${patron.username}</strong>
                                                            </h3>
                                                            <p>
                                                                <%= trans.SUBSCRIBER_SINCE %> ${new Date(patron.date).toDateString().substring(4)} </p>
                                                            <br>
                                                            <br>
                                                            <br>
                                                            <a href="/profiles/id<%= trans.LANG %>" class="btn feinwaru">
                                                                <i class="fa fa-user left"></i>
                                                                <%= trans.VIEW_PROFILE %>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- Content -->
                                                </div>
                                                <!-- Card -->

                                            </div>
                                            `

                );
            };
            
            
        </script>

</body>

</html>