<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/headers.ejs %>
    <title>AWESOM-O //
        <%= trans.COMMANDS %>
    </title>

    <style>
        .switch.round label .lever {
            width: 54px;
            height: 34px;
            border-radius: 10em;
        }

        .switch.round label .lever:after {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            left: 4px;
            top: 4px;
        }

        .switch.blue-white-switch label input[type=checkbox]:checked+.lever {
            background-color: #2196f3;
        }

        .switch.blue-white-switch label input[type=checkbox]:checked+.lever:after {
            background-color: #fff;
        }

        .switch.blue-white-switch label .lever {
            background-color: #ccc;
        }

        .switch.blue-white-switch label .lever:after {
            background-color: #fff;
        }

        .switch label input[type=checkbox]:checked+.lever:after {
            background-color: #ff594f;
            left: 24px;
        }

        .switch label input[type=checkbox]:checked+.lever {
            background-color: #f8c9c9
        }

        .dropdown-content li>a,
        .dropdown-content li>span {
            color: #2c2c2c;
        }
    </style>
</head>

<body class="fixed-sn">
    <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <%- include ../partials/d-navbar.ejs %>
    <!--Main Layout-->


    <main>
        <div class="mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="text-center" style="width: 100%">
                            <h1 class="font-weight-bold mb-2 mt-2 pb-1">
                                <%= trans.LEGACY_BINDINGS %>
                            </h1>
                            <h2>
                                <%= trans.LEGACY_BINDINGS_DESC %></h2>
                        </div>
                    </div>

                    <div class="row pt-5 justify-content-center">
                        <table class="table table-striped">
                            <col width="25%">
                            <col width="75%">
                            <thead class="feinwaru white-text">
                                <tr>
                                    <th scope="col">
                                        <%= trans.NAME %>
                                    </th>
                                    <th scope="col">
                                        <%= trans.COMMAND_INFORMATION %>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="binds-list">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </main>
    <!--/Section: Pricing v.5-->
    <!-- Streak -->

    <%- include ../partials/footer.ejs %>

    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>

    <script>
        //Animation init
        new WOW().init();

        //Modal
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        const serverName = document.getElementById("server-name");

        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();

            const binds = new XMLHttpRequest();
            binds.open("GET", `/json/binds.json`, false);
            binds.send();
            const bindsYay = JSON.parse(binds.response);
            for (let d = 0; d < bindsYay.length; d++) {
                if (bindsYay[d].id === userYay.user.discord_id) {
                    for (let i = 0; i < bindsYay[d].binds.length; i++) {
                        $("#binds-list").append(
                            `
                <tr>
                  <td class="font-weight-bold">${bindsYay[d].binds[i].name}</td>
                  <td>${bindsYay[d].binds[i].value}</td>
                </tr>
                `
                        )
                    }
                }

            }
        });

        // SideNav Button Initialization
        $(".button-collapse").sideNav();
        // SideNav Scrollbar Initialization
        var sideNavScrollbar = document.querySelector('.custom-scrollbar');
        Ps.initialize(sideNavScrollbar);

        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>


</body>

</html>