<!DOCTYPE html>
<html lang="en">

<head>
        <%- include ../partials/headers.ejs %>
    <title>AWESOM-O //
        <%= trans.DASHBOARD %>
    </title>

    <style>
        .top-shits{
            height: 100%;
        }
    </style>

<body class="fixed-sn">
    <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <%- include ../partials/d-navbar.ejs %>
    <!--Main Layout-->


    <main>

        <div class="container-fluid">
            <div class="col-md-12 col-sm-12 pb-2">
                <div class="text-center" style="width: 100%">
                    <h1 class="font-weight-bold mb-2 mt-2 mb-5">
                        <%= trans.WELCOME %>
                        <%= user_data.username %>
                        <br>
                        <%= trans.WELCOME_DASH_2 %>
                    </h1>
                </div>
            </div>
            <!-- First row -->
            <!-- Card deck -->

            <div class="row row-eq-height mt-2">
                <!-- First column -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <!-- Card -->
                    <div class="card card-image mb-4 top-shits" style="background-image: url(/img/servers_ico.jpg);">
                        <!-- Content -->
                        <div class="text-white text-center d-flex top-shits align-items-center rgba-red-strong waves-effect py-5 px-4">
                            <div class="mx-auto">
                                <h4 class="card-title font-weight-bold">
                                    <strong>
                                        <%= trans.TOTAL_SERVERS %></strong>
                                </h4>
                                <h2 id="servers-total" class="card-title">

                                </h2>
                                <p class="">
                                    <%= trans.DISCORD_SERVERS %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second column -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <!-- Card -->
                    <div class="card card-image mb-4 top-shits" style="background-image: url(/img/online_ico.jpg);">
                        <!-- Content -->
                        <div class="text-white top-shits text-center d-flex top-shits align-items-center rgba-green-strong waves-effect py-5 px-4">
                            <div class="mx-auto mt-1">
                                <h4 class="card-title font-weight-bold">
                                    <strong>
                                        <%= trans.TOTAL_ONLINE%></strong>
                                </h4>
                                <h2 id="members-online" class="card-title">

                                </h2>
                                <p class="">
                                    <%= trans.OUT_OF%> <span id="members-total"></span>
                                    <%= trans.TOTAL_USERS%>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third column -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <!-- Card -->
                    <div class="card card-image mb-4 top-shits" style="background-image: url(/img/messages_ico.jpg);">
                        <!-- Content -->
                        <div class="text-white text-center top-shits d-flex align-items-center rgba-blue-strong waves-effect py-5 px-4">
                            <div class="mx-auto mt-1">
                                <h4 class="card-title font-weight-bold">
                                    <strong>
                                        <%= trans.TOTAL_COMMANDS_USED %></strong>
                                </h4>
                                <h2 id="commands-used" class="card-title">

                                </h2>
                                <p class="">
                                    <%= trans.SO_FAR_THIS_UPDATE %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Fourth column -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <!-- Card -->
                    <div class="card card-image mb-4 top-shits" style="background-image: url(/img/ladder.png);">
                        <div class="text-white text-center top-shits d-flex align-items-center rgba-orange-strong waves-effect py-5 px-4">
                            <div class="mx-auto mt-1">
                                <h4 class="card-title font-weight-bold">
                                    <strong>
                                        <%= trans.TOTAL_COMMANDS %></strong>
                                </h4>
                                <h2 id="commands-total" class="card-title">

                                </h2>
                                <p class="">
                                    <%= trans.MARKETPLACE_DESC %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row row-eq-height mt-2">
                <!-- First column -->


                <!-- Fourth column -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <a href="https://status.feinwaru.com/">
                        <!-- Card -->
                        <div class="card card-image mb-4 top-shits" style="background-image: url(https://cdn.discordapp.com/attachments/379432139856412682/500660127624462357/unknown.png);">
                            <div class="text-white text-center top-shits d-flex align-items-center rgba-yellow-strong waves-effect py-5 px-4">
                                <div class="mx-auto mt-1">
                                    <h4 class="card-title font-weight-bold">
                                        <strong>
                                            <%= trans.STATUS %></strong>
                                    </h4>
                                    <p class="">
                                        <span id="status-status"></span> // <span id="status-ping"></span>ms // <span
                                            id="status-uptime"></span>%
                                        <%= trans.UPTIME %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Third column -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <!-- Card -->
                    <a href="https://discord.feinwaru.com/">
                        <div class="card card-image mb-4 top-shits" style="background-image: url(/img/logo_red_grey.png);">
                            <!-- Content -->
                            <div class="text-white text-center top-shits d-flex align-items-center rgba-indigo-strong waves-effect py-5 px-4">
                                <div class="mx-auto mt-1">
                                    <h4 class="card-title font-weight-bold">
                                        <strong>
                                            <%= trans.FEINWARU_DISCORD%></strong>
                                    </h4>
                                    <p class="">
                                        <%= trans.JOIN_OUR_DISCORD %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <!-- Card -->
                    <a href="/dashboard/scripts/marketplace">
                        <div class="card card-image mb-4 top-shits" style="background-image: url(https://cdn.discordapp.com/attachments/456771924639612940/466128291171008522/banner.png);">
                            <!-- Content -->
                            <div class="text-white text-center top-shits d-flex align-items-center rgba-pink-strong waves-effect py-5 px-4">
                                <div class="mx-auto mt-1">
                                    <h4 class="card-title font-weight-bold">
                                        <strong>
                                            <%= trans.AWESOMO_MARKETPLACE%></strong>
                                    </h4>
                                    <p class="">
                                        <%= trans.MARKETPLACE_DASH_DESC %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Fourth column -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <!-- Card -->
                    <a href="/docs/welcome<%= trans.LANG %>">
                        <div class="card card-image mb-4 top-shits" style="background-image: url(/img/mackey.png);">
                            <div class="text-white text-center top-shits d-flex align-items-center rgba-brown-strong waves-effect py-5 px-4">
                                <div class="mx-auto mt-1">
                                    <h4 class="card-title font-weight-bold">
                                        <strong>
                                            <%= trans.HELP_AND_SUPPORT %></strong>
                                    </h4>
                                    <p class="">
                                        <%= trans.HELP_DESC %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <!-- Second row -->
            <div class="row row-eq-height mt-2">
                <!-- First column -->

                <!--
                <div class="col-xl-6 col-md-12 mb-4">
                    <a href="https://blog.feinwaru.com/">
                        <div class="card card-image mb-4 top-shits" style="background-image: url(/img/news.png);">
                            <div class="text-white text-center d-flex top-shits align-items-center rgba-teal-strong waves-effect py-5 px-4">
                                <div class="mx-auto">

                                    <h4 class="card-title font-weight-bold">

                                        <i class="fab fa-tumblr mr-2"></i>
                                        <%= trans.LATEST_BLOG_UPDATES %>
                                    </h4>
                                    <p class="">
                                        ur mom gay lol
                                    </p>
                                    <p class="font-italic">
                                        <%= trans.CLICK_TO_READ %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>-->
                <!--
                <div class="col-xl-6 col-md-12 mb-4">
                    
                    <a href="https://twitter.com/feinwaru/">
                    <div class="card card-image mb-4 top-shits" style="background-image: url(/img/shitter.png);">
                            
                        <div class="text-white text-center d-flex top-shits align-items-center rgba-light-blue-strong waves-effect py-5 px-4">
                            <div class="mx-auto">

                                <h4 class="card-title font-weight-bold">

                                    <i class="fab fa-twitter mr-2"></i>
                                    <%= trans.LATEST_TWEET%>
                                </h4>
                                <p class="">
                                    Father Maxi now available on https://sppd.feinwaru.com/FathermaxiMysCard … !!
                                </p>
                                <p class="font-italic">12:34 PM - 9 Oct 2018</p>
                            </div>
                        </div>
                    </div>
                </a>
                </div>-->
            </div>

    </main>


    <%- include ../partials/footer.ejs %>

    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>

    <!-- JVectorMap -->
    <link rel="stylesheet" href="/css/jvectormap.css" type="text/css" media="screen" />
    <script src="/js/jvectormap.js"></script>
    <script src="/js/jvectormap-mil.js"></script>

    <script>
        //Animation init
        new WOW().init();

        //Modal
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });

        // SideNav Button Initialization
        $(".button-collapse").sideNav();
        // SideNav Scrollbar Initialization
        var sideNavScrollbar = document.querySelector('.custom-scrollbar');
        Ps.initialize(
            sideNavScrollbar);

        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        window.onload = () => {

            const totalServers = document.getElementById("servers-total");
            const membersOnline = document.getElementById("members-online");
            const membersTotal = document.getElementById("members-total");
            const commandsUsed = document.getElementById("commands-used");
            const commandsTotal = document.getElementById("commands-total");
            //const latestTweetText = document.getElementById("tweet-text");
            //const latestTweetDate = document.getElementById("tweet-date");
            const statusStatus = document.getElementById("status-status");
            const statusPing = document.getElementById("status-ping");
            const statusUptime = document.getElementById("status-uptime");
            //const latestUpdate = document.getElementById("update-text");

            const stats = new XMLHttpRequest();
            stats.open("GET", "/api/v3/stats", false);
            stats.send();

            const statsYay = JSON.parse(stats.response);

            totalServers.innerText = statsYay.stats.servers;
            membersOnline.innerText = statsYay.stats.members.online;
            membersTotal.innerText = statsYay.stats.members.total;
            commandsUsed.innerText = statsYay.stats.script_uses;
            commandsTotal.innerText = statsYay.stats.total_scripts;
            //latestTweetText.innerText = statsYay.stats.latest_tweet.text;
            //latestTweetDate.innerText = statsYay.stats.latest_tweet.date;
            statusStatus.innerText = statsYay.stats.status.status;
            statusPing.innerText = statsYay.stats.status.ping;
            statusUptime.innerText = Math.round(parseInt(statsYay.stats.status.uptime));
            //latestUpdate.innerText = statsYay.stats.latest_update;
        }
    </script>


</body>

</html>